<h2 class="m-2">GESTION DE PEDIDOS</h2>

<hr>
<div *ngIf="abiertos">
  <h4 class="m-2">PEDIDOS ABIERTOS</h4>
  <hr>
</div>
<div *ngIf="!abiertos">
  <h4 class="m-2">PEDIDOS CERRADOS</h4>
  <hr>
</div>

 
<table class="table table-striped m-1">
  <thead>
    <tr>
      <th scope="col-sm-2">Nº pedido</th>
      <th scope="col">Fecha del Pedido</th>
      <th scope="col">Fecha de envío</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio Total</th>

    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="pedidos && pedidos.length > 0" >
    <tr *ngFor="let pedido of pedidos " [routerLink]="['pedido', pedido.idPedido]" id="pedido">
      <td> {{ pedido.idPedido }}</td>
      <td> {{ pedido.fechaPedido | date:'short'}} </td>
      <td *ngIf="pedido.fechaEnvio"> {{ pedido.fechaEnvio | date:'dd/MM/yyyy' }} </td>
      <td *ngIf="!pedido.fechaEnvio"> Sin enviar </td>
      <td *ngIf="pedido.usuario"> {{ pedido.usuario.nombre }} {{ pedido.usuario.apellido1 }}  {{ pedido.usuario.apellido2 }} </td>
      <td> {{ pedido.precioTotal }} </td>
    </tr>
  </ng-container>
  <ng-container *ngIf="pedidos && pedidos.length === 0">
    <tr>
      <td colspan="5"><ngb-highlight>No hay pedidos disponibles</ngb-highlight></td>
    </tr>
  </ng-container>
  <ng-container *ngIf="!pedidos">
    <tr>
      <td colspan="5"><ngb-highlight>Cargando...</ngb-highlight></td>
    </tr>
  </ng-container>
  </tbody>
</table>
<div class="row mt-3 mb-3 justify-content-between">
<DIV *ngIf="abiertos" class="col m-3"><button class="btn btn-primary" (click)="cambiarVistaPedidos()">CONSULTAR PEDIDOS CERRADOS</button></DIV>
<DIV *ngIf="!abiertos" class="col m-3"><button class="btn btn-primary" (click)="cambiarVistaPedidos()">CONSULTAR PEDIDOS ABIERTOS</button></DIV>
<div class="col m-3">
<button  class="btn btn-primary" (click) ="volverAGestionTienda()">
  VOLVER
</button>
</div>
</div>
