<body class="">
    <div class="row pt-4 landing">
        <section class="col-1"></section>
        <section class="col-12 col-md-6">
            <section class="row titulo ml-4">
                <div class="text-center">
                    <h2><b>Revista Digital y podcast del aperitivo a la cena</b></h2>
                </div>
            </section>
            <section class="row descripcion ml-4 m-4">
                <div class="text-center">
                    <h4>Sed vulputate vel orci rutrum ornare. Pellentesque habitant morbi tristique senectus et netus et
                        malesuada fames ac turpis egestas. Cras sit amet scelerisque quam, ac mollis eros. Praesent sit
                        amet nibh ut velit egestas gravida. Morbi non cursus ligula, eget fringilla dui. Etiam ac diam
                        eget nibh hendrerit tincidunt. Nam nec porttitor lorem. </h4>
                </div>
            </section>
            <section class="text-center m-4">
                <button class="btn btn-primary">VISÍTANOS</button>
            </section>

            <!-- RRSS -->
            <section class="rrss m-4">
                <div class="row mt-4">
                    <div class="col-2 col-sm-2"></div>
                    <div class="col-2 col-sm-2 my-1 text-center">
                        <a href="https://www.facebook.com/elisabethgiborra">
                            <img class="icono-rrss" src="../../../../assets/facebookIcon.png" alt="">
                        </a>
                    </div>
                    <div class="col-2 col-sm-2 my-1 text-center">
                        <a href="https://www.instagram.com/vermu.torero/">
                            <img class="icono-rrss" src="../../../../assets/instagramIcon.png" alt="">
                        </a>
                    </div>
                    <div class="col-2 col-sm-2 my-1 text-center">
                        <a href="http://es.linkedin.com/in/elisabethgiborra">
                            <img class="icono-rrss" src="../../../../assets/linkedinIcon.png" alt="">
                        </a>
                    </div>
                    <div class="col-2 col-sm-2 my-1 text-center">
                        <a href="https://twitter.com/elisabethiborra">
                            <img class="icono-rrss" src="../../../../assets/twitterIcon.png" alt="">
                        </a>
                    </div>
                </div>
            </section>
        </section>
        <section class="col-12 col-md-5 text-center mt-4">
            <img class="img-fluid imagen" src="../../../assets/imagen-landing-page.jpg" alt="">
        </section>
    </div>
</body>