HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
src/main/resources/claves.properties
src/main/resources/firebaseConfig.ts
/.apt_generated_tests/
WebMagazineFront/src/enviroments/firebaseConfig.ts

WebMagazineFront/src/environments/firebaseConfig.ts
WebMagazineFront/public/3rdpartylicenses.txt
WebMagazineFront/public/41.b7b6489e9c27e281.js
WebMagazineFront/public/971.39f034edd086eb8d.js
WebMagazineFront/public/favicon.ico
WebMagazineFront/public/fondo_periodico.9cff8243e2607cea.jpg
WebMagazineFront/public/fondo-landing-page.53aac525181e87fc.png
WebMagazineFront/public/index.html
WebMagazineFront/public/main.746b5f45a43c6fa2.js
WebMagazineFront/public/polyfills.dbe2c5f8bf58e56b.js
WebMagazineFront/public/runtime.62aaffeff87da88b.js
WebMagazineFront/public/scripts.d73bded0f8f2dafa.js
WebMagazineFront/public/styles.33d336aaef33413d.css
WebMagazineFront/public/assets/copiar_codigo_spotify.png
WebMagazineFront/public/assets/copiar_codigo_youtube.png
WebMagazineFront/public/assets/eli.jpeg
WebMagazineFront/public/assets/facebookIcon.png
WebMagazineFront/public/assets/fondo_periodico.jpg
WebMagazineFront/public/assets/fondo-landing-page.png
WebMagazineFront/public/assets/fondo.jpg
WebMagazineFront/public/assets/icono-foto.png
WebMagazineFront/public/assets/icono-spotify.png
WebMagazineFront/public/assets/icono-vino.png
WebMagazineFront/public/assets/icono-youtube.jpg
WebMagazineFront/public/assets/icono.jpg
WebMagazineFront/public/assets/icono2.jpg
WebMagazineFront/public/assets/Imagen1.png
WebMagazineFront/public/assets/instagramIcon.png
WebMagazineFront/public/assets/invitar-vino.png
WebMagazineFront/public/assets/like.png
WebMagazineFront/public/assets/linkedinIcon.png
WebMagazineFront/public/assets/no-imagen.png
WebMagazineFront/public/assets/suscribete.jpg
WebMagazineFront/public/assets/twitter.jpg
WebMagazineFront/public/assets/twitterIcon.png
WebMagazineFront/public/assets/wine.png
WebMagazineFront/public/assets/x-eliminar.png
.github/workflows/firebase-hosting-pull-request.yml
WebMagazineFront/.firebase/hosting.cHVibGlj.cache
WebMagazineFront/public/41.99de23171d4ef8e5.js
WebMagazineFront/public/runtime.8e5f6a8221f564bc.js
WebMagazineFront/public/41.dff3cd624d57bae9.js
WebMagazineFront/public/main.8582b936f6263606.js
WebMagazineFront/public/runtime.f8beb821e2aeb3be.js
WebMagazineFront/public/41.0e704a94fd541824.js
WebMagazineFront/public/main.3a881fb86f76808a.js
WebMagazineFront/public/runtime.8dedf154026bac68.js
WebMagazineFront/public/41.478b01f7e902d3ad.js
WebMagazineFront/public/main.97b288f405ddab0e.js
WebMagazineFront/public/runtime.a377982234cf38ad.js
WebMagazineFront/public/41.f03b5efd34b193c2.js
WebMagazineFront/public/main.de5ceafca282bd8b.js
WebMagazineFront/public/runtime.76d9a68bc5da9fa2.js
WebMagazineFront/public/41.17bc557318c30cbe.js
WebMagazineFront/public/main.4e392c17d32c8f5b.js
WebMagazineFront/public/runtime.c08a288a98ff2a2e.js
WebMagazineFront/public/41.c6307e0f60cb6169.js
WebMagazineFront/public/runtime.bb4e301a7942c7e3.js
WebMagazineFront/public/818.f1d5ceff214305bf.js
WebMagazineFront/public/main.b2264291dd09d997.js
WebMagazineFront/public/runtime.81b10757be511bc7.js
WebMagazineFront/public/818.2fd7c465207027f2.js
WebMagazineFront/public/runtime.e33ddffaf9ee59d3.js
