<nav class="navbar navbar-expand-lg navbar-dark col-12">
  <div class="row text-center navbar-row">
    <a class="navbar-brand" href="">
      <img src="../../../../assets/Logo_Vermu_Torero_Horizontal.png" class="navbar-icon" alt="navbar-icon">
    </a>
    <button class="navbar-toggler boton-negro" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav me-auto mb-2 mb-lg-0 col-12">
        <!-- Desplegable gastrosofía -->
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Gastrosofía
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="publicaciones-categoria/Patata-Santa">Patata Santa</a></li>
            <li><a class="dropdown-item" href="publicaciones-categoria/Restaurantes">Restaurantes</a></li>
            <li><a class="dropdown-item" href="publicaciones-categoria/Bares">Bares</a></li>
            <li><a class="dropdown-item" href="publicaciones-categoria/Mercados">Mercados</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="publicaciones-categoria/Entrevidas">Entrevidas</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="publicaciones-categoria/Viajar-a-solas">Viajar a
            solas</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="publicaciones-categoria/Beber-bien">Beber bien</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="publicaciones-categoria/Culturoides">Culturoides</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Autoamor
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="publicaciones-categoria/Relaciones">Relaciones</a>
            </li>
            <li><a class="dropdown-item" href="publicaciones-categoria/Autocuidado">Autocuidado</a></li>
          </ul>
        </li>

        <li *ngIf="isLoggedMember" class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Club
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="chat">Chat miembros</a></li>
          </ul>
        </li>

        <li *ngIf="isLoggedWriter" class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Escribir
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" aria-current="page" href="formulario">Nueva publicación</a>
            </li>
            <li><a class="dropdown-item" href="borradores">Mis borradores</a></li>
            <li><a class="dropdown-item" href="chat">Chat miembros</a></li>
          </ul>
        </li>

        <li *ngIf="isLoggedAdmin" class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Administración
          </a>
          <ul class="dropdown-menu">
            <li class="text-center"><b>Publicaciones</b></li>
            <li><a class="dropdown-item" href="formulario">Añadir publicación</a></li>
            <li><a class="dropdown-item" href="borradores">Mis borradores</a></li>
            <li><a class="dropdown-item" href="tags">Tags y lugares</a></li>
            <hr>
            <li class="text-center"><b>Usuarios y suscripciones</b></li>
            <li><a class="dropdown-item" href="security/usuarios">Gestión de usuarios</a></li>
            <li><a class="dropdown-item" href="suscripcion-ficha">Gestión de suscripciones</a></li>
            <li><a class="dropdown-item" href="estadisticas">Estadísticas</a></li>
            <hr>
            <li class="text-center"><b>Diseño</b></li>
            <li><a class="dropdown-item" href="/descubriendo-vermutorero">Editar página libre</a></li>
            <li><a class="dropdown-item" href="editor-inicio">Editar carrusel</a></li>
            <li><a class="dropdown-item" href="editor-lateral">Editar barra lateral</a></li>
            <hr>
            <li class="text-center"><b>Informacion general</b></li>
            <li><a class="dropdown-item" href="acerca-de/editor/sobre-nosotros">Sobre nosotros</a></li>
            <li><a class="dropdown-item" href="acerca-de/editor/quienes-formamos-vermú-torero">Quienes somos</a></li>
            <li><a class="dropdown-item" href="acerca-de/editor/quieres-aparecer-en-nuestra-plataforma">Quienes
                aparecer...</a></li>
            <li><a class="dropdown-item" href="acerca-de/editor/politica-de-a-juzgar-a-la-juzguería">Política de a
                juz...</a></li>
            <li><a class="dropdown-item" href="acerca-de/editor/iborra-&-com">Iborra & Com</a></li>
            <hr>
            <li class="text-center"><b>Tienda</b></li>
            <li><a class="dropdown-item" href="ecommerce/gestion">Gestión de tienda</a></li>
            <hr>
            <li class="text-center"><b>Chat</b></li>
            <li><a class="dropdown-item" href="chat">Administrar chat</a></li>
          </ul>
        </li>
        <app-login class="nav-item"></app-login>

      </ul>
    </div>
  </div>
</nav>
