.navbar{
    /* background-color: rgb(255,109,0,255); */
    background-color: black;
    font-size: 1em;
}
.navbar-brand {
    font-size: 2vw;
    width: 100%;
    justify-content: center;
}
.navbar-nav{
    margin-left: 0%;
    margin-right: 0%;
    font-size: small;
}
.navbar-icon {
    margin-top: 1%;
    width: 60%; 
    font-size: 5vw;
}
.navbar-collapse{
    justify-content: center !important;
}
.barra-admin{
    /* background-color: rgb(255,109,0,255); */
    background-color: black;
}
.nav-link{
    font-size: large;
    font-family:sans-serif
}
.nav-link:hover{
    opacity: 0.5;
}

@media (min-width: 101em) {
    .nav-link{
        font-size: 1.1em;
    }
}

@media (max-width: 100em) {
    .nav-link{
        font-size:small;
    }
}
@media (max-width: 40em) {

    .navbar-brand{
        width: 100% !important;
        font-size: large;
    }
    .navbar-icon{
        width: 95%;
    }
}