<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../assets/icono.jpg" class="navbar-icon" alt="navbar-icon">
        Vermú Torero
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mx-1" id="navbarSupportedContent">
        <ul class="nav navbar-nav me-auto mb-2 mb-lg-0 col-8">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Gastrosofía</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Entrevidas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Viajar a solas</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Beber bien
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Culturiodes
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sobre nosotros
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/ecommerce">Nuestra tienda</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Administración
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="formulario">Añadir publicación</a></li>
              <li><a class="dropdown-item" href="tags">Tags y lugares</a></li>
              <li><a class="dropdown-item" href="tags">Usuarios</a></li>
              <li><a class="dropdown-item" href="tags">Landing-pages</a></li>
              <li><a class="dropdown-item" href="tags">RRSS</a></li>
              <li><a class="dropdown-item" href="tags">Inicio</a></li>
              <li><a class="dropdown-item" href="tags">Sobre nosotros</a></li>
            </ul>
          </li>
        </ul>
  
        <form role="search" class="col-5">
          <div class="row">
            <div class="col-2"></div>
            <button class="btn btn-outline-success btn-sm col-3 m-1" type="submit">Log in</button>
            <button class="btn  btn-outline-light btn-sm col-3 m-1" type="submit">Suscríbete</button>
            <div class="col-2"></div>
          </div>
          
        </form>
      </div>
    </div>
  </nav>