<ng-container *ngIf="pedido && pedido.usuario">
  <h2 class="ms-4">DETALLE DEL PEDIDO</h2>
  <div *ngIf="pedido.usuario" class="row ms-3 me-1">
    <div class="col-md-4">
      <div><strong>Nombre</strong></div>
      <div>
        {{ pedido.usuario.nombre }}
        <hr class="mt-0" />
      </div>
    </div>
    <div class="col-md-4">
      <div><strong>Primer apellido</strong></div>
      <div>
        {{ pedido.usuario.apellido1 }}
        <hr class="mt-0" />
      </div>
    </div>
    <div class="col-md-4">
      <div><strong>Segundo Apellido</strong></div>
      <div>
        {{ pedido.usuario.apellido2 }}
        <hr class="mt-0" />
      </div>
    </div>
  </div>
</ng-container>

<!-- direccion de envio -->
<ng-container *ngIf="pedido && pedido.direccionEntrega">
  <div class="ms-3">
    <h4 class="ms-2">DIRECCION DE ENVIO</h4>

    <Div *ngIf="pedido.direccionEntrega">
      <div class="row ms-2 me-1">
        <div class="col-md-4">
          <div><strong>Ciudad</strong></div>
          <div>
            {{ pedido.direccionEntrega.ciudad }}
            <hr class="mt-0" />
          </div>
        </div>
        <div class="col-md-4">
          <div><strong>Calle</strong></div>
          <div>
            {{ pedido.direccionEntrega.calle }}
            <hr class="mt-0" />
          </div>
        </div>
        <div class="col-md-1">
          <div><strong>Número</strong></div>
          <div>
            {{ pedido.direccionEntrega.numero }}
            <hr class="mt-0" />
          </div>
        </div>
        <div class="col-md-1">
          <div><strong>Piso</strong></div>
          <div>
            {{ pedido.direccionEntrega.piso }}
            <hr class="mt-0" />
          </div>
        </div>
        <div class="col-md-1">
          <div><strong>Puerta</strong></div>
          <div>
            {{ pedido.direccionEntrega.puerta }}
            <hr class="mt-0" />
          </div>
        </div>
        <div class="col-md-2">
          <div><strong>Código Postal</strong></div>
          <div>
            {{ pedido.direccionEntrega.codigoPostal }}
            <hr class="mt-0" />
          </div>
        </div>
      </div>
    </Div>
  </div>
</ng-container>
<!-- fechas -->
<div class="ms-3">
  <h4 class="ms-2">FECHA DEL PEDIDO</h4>
  <ng-container *ngIf="pedido && pedido.fechaPedido">
    <div class="row ms-2 me-1">
      <div class="col-md-2">
        <strong> Fecha del Pedido </strong>
        <div>
          {{ pedido.fechaPedido | date : "short" }}
          <hr class="mt-0" />
        </div>
      </div>
      <div class="col-md-2">
        <strong> Fecha de envío </strong>
        <div *ngIf ="pedido.fechaEnvio">
          {{ pedido.fechaEnvio | date : "short" }}
          <hr class="mt-0" />
        </div>
        <div *ngIf ="!pedido.fechaEnvio">
          &nbsp;
          <hr class="mt-0" />
        </div>
      </div>
      <div class="col-md-2 mt-2">
        <div *ngIf ="!pedido.fechaEnvio">
          <form class="row row-cols-sm-auto">
            <div class="col-12">
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="yyyy-mm-dd"
                  name="dp"
                  [(ngModel)]="fechaEnvio"
                  ngbDatepicker
                  #d="ngbDatepicker"
                  [minDate]="fechaMinimaEnvio()"
                />
                <button
                  class="btn btn-outline-secondary bi bi-calendar3"
                  (click)="d.toggle()"
                  type="button"
                >
                <i class="fa-regular fa-calendar"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div *ngIf ="!pedido.fechaEnvio" class="col-md-2 mt-2">
      <button class="btn btn-outline-success btn-sm mx-3" (click)="marcarFechaEnvio()">Marcar fecha de envío</button>
    </div>
    </div>
  </ng-container>
</div>
<!-- productos del pedido -->
<div class="ms-3">
  <h4 class="ms-2">PRODUCTOS DEL PEDIDO</h4>
  <ul class="list-group m-2">
    <div *ngFor="let producto of productos; index as i">
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        <div class="col-md-6">
          {{ producto.nombreProducto }} x {{ pedido.productos[i].cantidad }}
        </div>
        <div class="col-md-6">
          <strong>Total:</strong>
          {{ producto.precio * pedido.productos[i].cantidad }} €
        </div>
      </li>
    </div>
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <div class="col-md-6">
        <strong>total abonado:</strong>
      </div>
      <div *ngIf="pedido && pedido.precioTotal" class="col-md-6">
        <strong>{{ pedido.precioTotal }} € </strong>
      </div>
    </li>
  </ul>
</div>
