<div class="row descripcion-pagina text-center">
    <h3 class="col-11 m-4 texto-descripcion">Suscribete a nuestra web y disfruta de los mejores contenidos premium.</h3>
</div>
<div class="row mb-4 suscripciones">
    <div class="col-1"></div>
    <div class="col-3 tipo-suscripcion tipo-suscripcion-1">
        <div class="text-center titulo-suscripcion">
            <h4 class="texto-titulo">{{suscripciones[0].nombre}}</h4>
        </div>
        <div class="caracteristicas-suscripcion mt-3">
            <ul>
                <li  *ngIf="suscripciones[0].caracteristica1" class="row my-2">{{suscripciones[0].caracteristica1}}</li>
                <li  *ngIf="suscripciones[0].caracteristica2" class="row my-2">{{suscripciones[0].caracteristica2}}</li>
                <li  *ngIf="suscripciones[0].caracteristica3" class="row my-2">{{suscripciones[0].caracteristica3}}</li>
                <li  *ngIf="suscripciones[0].caracteristica4" class="row my-2">{{suscripciones[0].caracteristica4}}</li>
                <li  *ngIf="suscripciones[0].caracteristica5" class="row my-2">{{suscripciones[0].caracteristica5}}</li>
                <li  *ngIf="suscripciones[0].caracteristica6" class="row my-2">{{suscripciones[0].caracteristica6}}</li>
                <li  *ngIf="suscripciones[0].caracteristica7" class="row my-2">{{suscripciones[0].caracteristica7}}</li>
                <li  *ngIf="suscripciones[0].caracteristica8" class="row my-2">{{suscripciones[0].caracteristica8}}</li>
            </ul>
        </div>
        <div class="text-center precio-suscripcion">
            <p *ngIf="suscripciones[0].precio">{{suscripciones[0].precio}}</p>
            <p *ngIf="!suscripciones[0].precio">GRATIS</p>
        </div>
        <div class="text-center">
            <button class="btn btn-primary">Suscribirme</button>
        </div>
    </div>

    <div class="col-3 tipo-suscripcion tipo-suscripcion-2">
        <div class="text-center titulo-suscripcion">
            <h4 class="texto-titulo">{{suscripciones[1].nombre}}</h4>
        </div>
        <div class="caracteristicas-suscripcion mt-3">
            <ul>
                <li  *ngIf="suscripciones[1].caracteristica1" class="row my-2">{{suscripciones[1].caracteristica1}}</li>
                <li  *ngIf="suscripciones[1].caracteristica2" class="row my-2">{{suscripciones[1].caracteristica2}}</li>
                <li  *ngIf="suscripciones[1].caracteristica3" class="row my-2">{{suscripciones[1].caracteristica3}}</li>
                <li  *ngIf="suscripciones[1].caracteristica4" class="row my-2">{{suscripciones[1].caracteristica4}}</li>
                <li  *ngIf="suscripciones[1].caracteristica5" class="row my-2">{{suscripciones[1].caracteristica5}}</li>
                <li  *ngIf="suscripciones[1].caracteristica6" class="row my-2">{{suscripciones[1].caracteristica6}}</li>
                <li  *ngIf="suscripciones[1].caracteristica7" class="row my-2">{{suscripciones[1].caracteristica7}}</li>
                <li  *ngIf="suscripciones[1].caracteristica8" class="row my-2">{{suscripciones[1].caracteristica8}}</li>
            </ul>
        </div>
        <div class="text-center precio-suscripcion">
            <p>{{suscripciones[1].precio}}</p>
        </div>
        <div class="text-center">
            <button class="btn btn-primary">Suscribirme</button>
        </div>
    </div>

    <div class="col-3 tipo-suscripcion tipo-suscripcion-3">
        <div class="text-center titulo-suscripcion">
            <h4 class="texto-titulo">{{suscripciones[2].nombre}}</h4>
        </div>
        <div class="caracteristicas-suscripcion">
            <ul>
                <li *ngIf="suscripciones[2].caracteristica1" class="row my-2">{{suscripciones[2].caracteristica1}}</li>
                <li *ngIf="suscripciones[2].caracteristica2" class="row my-2">{{suscripciones[2].caracteristica2}}</li>
                <li *ngIf="suscripciones[2].caracteristica3" class="row my-2">{{suscripciones[2].caracteristica3}}</li>
                <li *ngIf="suscripciones[2].caracteristica4" class="row my-2">{{suscripciones[2].caracteristica4}}</li>
                <li *ngIf="suscripciones[2].caracteristica5" class="row my-2">{{suscripciones[2].caracteristica5}}</li>
                <li *ngIf="suscripciones[2].caracteristica6" class="row my-2">{{suscripciones[2].caracteristica6}}</li>
                <li *ngIf="suscripciones[2].caracteristica7" class="row my-2">{{suscripciones[2].caracteristica7}}</li>
                <li *ngIf="suscripciones[2].caracteristica8" class="row my-2">{{suscripciones[2].caracteristica8}}</li>
            </ul>
        </div>
        <div class="text-center precio-suscripcion">
            <p>{{suscripciones[2].precio}}</p>
        </div>
        <div class="text-center">
            <button class="btn btn-primary">Suscribirme</button>
        </div>
    </div>
</div>