<div class="row descripcion-pagina text-center">
    <h3 class="col-11 m-4 texto-descripcion">Suscribete a nuestra web y disfruta de los mejores contenidos premium.</h3>
</div>
<div class="row mb-4 suscripciones">
    <div class="col-1"></div>
    <div class="col-3 tipo-suscripcion tipo-suscripcion-1">
        <div class="text-center titulo-suscripcion">
            <h3 class="texto-titulo">Amigo de VermuTorero</h3>
        </div>
        <div class="caracteristicas-suscripcion mt-3">
            <ul>
                <li class="my-2">Recibe emails con las novedades en contenidos gratuitos</li>
                <li class="my-2">Recibe información sobre promociones y sorteos</li>
            </ul>
        </div>
        <div class="text-center precio-suscripcion">
            <p>Gratuito</p>
        </div>
        <div class="text-center">
            <button class="btn btn-primary">Suscribirme</button>
        </div>
    </div>

    <div class="col-3 tipo-suscripcion tipo-suscripcion-2">
        <div class="text-center titulo-suscripcion">
            <h4 class="texto-titulo">Sucripción</h4>
        </div>
        <div class="caracteristicas-suscripcion mt-3">
            <ul>
                <li class="my-2">Recibe emails con las novedades en contenidos gratuitos</li>
                <li class="my-2">Recibe información sobre promociones y sorteos</li>
                <li class="my-2">Accede a exclusivos contenidos de pago</li>
                <li class="my-2">Difruta de promociones y descuentos</li>
            </ul>
        </div>
        <div class="text-center precio-suscripcion">
            <p>10 Euros / mes</p>
        </div>
        <div class="text-center">
            <button class="btn btn-primary">Suscribirme</button>
        </div>
    </div>

    <div class="col-3 tipo-suscripcion tipo-suscripcion-3">
        <div class="text-center titulo-suscripcion">
            <h4 class="texto-titulo">Hazte miembro del club VermuTorero</h4>
        </div>
        <div class="caracteristicas-suscripcion">
            <ul>
                <li class="my-2">Recibe emails con las novedades en contenidos gratuitos</li>
                <li class="my-2">Recibe información sobre promociones y sorteos</li>
                <li class="my-2">Accede a exclusivos contenidos de pago</li>
                <li class="my-2">Difruta de promociones y descuentos</li>
                <li class="my-2">Accede a nuestro chat de miembros y comparte tus experiencias</li>
                <li class="my-2">Preguntanos y te recomendarmos a donde ir y que hacer de forma personalizada</li>
            </ul>
        </div>
        <div class="text-center precio-suscripcion">
            <p>20 Euros / mes</p>
        </div>
        <div class="text-center">
            <button class="btn btn-primary">Suscribirme</button>
        </div>
    </div>
</div>