.suscripciones-component {
    background-color: #ebeaea;
    padding: 1%;
    box-shadow: 2px 2px 10px #666;
    border-radius: 5px;
    margin-bottom: 3% !important;
    margin-top: 3%;
    margin-right: 2%;
    margin-left: 2%;

}
.texto-descripcion{
    font-weight: bold;
    font-family:sans-serif;
    font-size: x-large;
}
.contenido-suscripcion{
    background-color: rgb(172, 170, 170);
    height: 100%;
}
.tipo-suscripcion{
    padding-left: 2%;
    padding-right: 2%;
    margin: 1%;
    box-shadow: 2px 2px 10px #666;
}
.tipo-suscripcion-1{
    background-color: rgb(255, 109, 0, 255);
}
.tipo-suscripcion-2{
    background-color: rgb(255, 109, 0, 255);
}
.tipo-suscripcion-3{
    background-color: rgb(255, 109, 0, 255);
    /* background-color: rgb(172, 170, 170) */
}
.titulo-suscripcion{
    margin-top: 10%;
    font-weight: bold;
    color: white;
}
.texto-titulo{
    font-weight: bold;
    text-shadow: 2px 2px 10px #666;
    padding: 1%;
}
.caracteristicas-suscripcion{
    font-family:sans-serif
}
.precio-suscripcion{
    font-weight: bold;
}
li{
    margin-top: 4%;
}
.modal-header{
    background-color: rgb(255, 109, 0, 255);
    color: white;
}
.caracteristica{
    padding-right: 12%;
    margin-top: 5%;
    text-align: justify;
    font-size: small;
}
.texto-aviso-pagos{
    margin-left: 15%;
    margin-right: 15%;
    font-weight: bold;
}
