<!-- Asegúrate de que esta línea se encuentra antes del resto de tu código JavaScript -->
<script async src="https://platform.twitter.com/widgets.js" onload="onTwitterScriptLoad()"></script>
<section class="inicio-container">
  <!-- Seccion de inicio -->
  <section class="inicio row p-0 m-0">
    <!-- Carrusel -->
    <section class="carrusel col-12 col-sm-12 p-0 m-0">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
          <button *ngIf="publicacionesCarousel[2]" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button *ngIf="publicacionesCarousel[3]" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button *ngIf="publicacionesCarousel[3]" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="5" aria-label="Slide 6"></button>
          <button *ngIf="publicacionesCarousel[5]" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="6" aria-label="Slide 7"></button>
          <button *ngIf="publicacionesCarousel[6]" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="7" aria-label="Slide 8"></button>
          <button *ngIf="publicacionesCarousel[7]" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="8" aria-label="Slide 9"></button>
        </div>

        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3500">
            <img src="{{imagenInicioCentral.url}}" class="d-block w-100 p-0 m-0" alt="...">
          </div>
          <div *ngFor="let publicacionCarousel of publicacionesCarousel" class="carousel-item" data-bs-interval="3500">
            <img src="{{publicacionCarousel.imagenCarouselUrl}}" class="img-carousel d-block w-100" alt="..."
              (click)="irAPublicacion(publicacionCarousel)">
            <div class="carousel-caption" (click)="irAPublicacion(publicacionCarousel)">
              <h5 *ngIf="!publicacionCarousel.letraOscura" class="letra-blanca texto-titulo">
                <b>{{publicacionCarousel.titulo}}</b>
              </h5>
              <p *ngIf="!publicacionCarousel.letraOscura" class="letra-blanca texto-carousel d-none d-md-block">
                <b>{{publicacionCarousel.subtitulo}}</b>
              </p>
              <h5 *ngIf="publicacionCarousel.letraOscura" class="letra-negra texto-titulo">
                <b>{{publicacionCarousel.titulo}}</b>
              </h5>
              <p *ngIf="publicacionCarousel.letraOscura" class="letra-negra texto-carousel d-none d-md-block">
                <b>{{publicacionCarousel.subtitulo}}</b>
              </p>
            </div>
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
    <!-- Promo Derecha -->
    <!-- <section class="promo d-none d-sm-block col-sm-3 p-0 m-0">
      <a href="/suscripcion">
        <img *ngIf="imagenInicioDerecha.url" src="{{imagenInicioDerecha.url}}" alt="" class="img-fluid p-0 m-0">
      </a>
    </section> -->
  </section>
</section>

<section class="col-12 d-md-none row podcastSM mt-2 m-0" id="podcastSM">
  <h4 class="titulo-podcast justify-content-center"><b>Podcast</b></h4>
</section>

<!-- <section class="col-12 d-md-none row tienda m-0" id="tienda">
  <a class="justify-content-center" href="/ecommerce">
    <img class="btn boton-tienda" src="../../../assets/boton_tienda.png" alt="">
  </a>
</section> -->

<section class="zona-articulos row">
  <div class="columna-articulos col-12 col-md-8 col-lg-9 ">
    <!-- Seccion articulos recientes-->
    <section class="seccion-recientes mx-1 mx-md-4">
      <h3 class="row mx-2"><b>Ultimos artículos</b></h3>
      <hr class="my-0">
      <div class="recientes row mt-2">
        <div *ngFor="let publicacion of publicaciones" class="card col-12 col-sm-6 col-lg-3 col-xxl-3 mb-4">
          <app-publicacion [publicacion]="publicacion"></app-publicacion>
        </div>
        <div class="paginas text-center">
          <button *ngIf="pagina>0" class="btn btn-sm btn-secondary mx-2" (click)="getPaginaAnterior()">Anterior</button>
          <p class="numero-pagina">Pagina {{pagina +1}}</p>
          <button *ngIf="publicaciones.length>3" class="btn btn-sm btn-secondary mx-2"
            (click)="getPaginaSiguiente()">Siguiente</button>
        </div>
        <div id="editor" hidden></div>
      </div>
    </section>
    <app-suscripcion></app-suscripcion>
    <app-promo-tienda></app-promo-tienda>
    <!-- Seccion articulos destacados -->
    <section class="seccion-destacados my-1 pt-3 mx-1 mx-md-4">
      <h3 class="row mx-2 my-1"><b>Destacados</b></h3>
      <hr class="my-0">
      <div class="destacados row align-items-start mt-2">
        <div *ngFor="let publicacionDestacada of publicacionesDestacadas"
          class="card col-12 col-sm-6 col-lg-3 col-xxl-3 mb-4">
          <app-publicacion [publicacion]="publicacionDestacada"></app-publicacion>
        </div>
      </div>
    </section>
  </div>

  <div class="d-none d-md-block col-md-4 col-lg-3 mb-3 lateral-container">
    <app-lateral></app-lateral>
    <div *ngIf="rol=='ROLE_USER_MEMBER' || rol=='ROLE_WRITER'|| rol=='ROLE_ADMIN'" class="personalizadas">
      <div class="row row-personalizadas" id="podcast">
        <h5 class="row titulo-personalizadas">En especial para ti</h5>
      </div>
      <div *ngFor="let publicacion of publicacionesPersonalizadas" class="card m-1">
        <app-publicacion [publicacion]="publicacion"></app-publicacion>
      </div>
    </div>
    <div *ngIf="rol!='ROLE_USER_MEMBER' && rol!='ROLE_WRITER'&& rol!='ROLE_ADMIN'"class="promo-lateral">
      <a class="row membresia-container" href="suscripcion">
        <h5 class="row titulo-personalizadas">Membresía</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel dui eget felis consectetur consectetur nec et risus. Duis ultrices augue eu odio imperdiet consequat. Mauris quis dictum purus, at efficitur ligula. Aenean ut vehicula nibh, in tempor ligula. Nam aliquam urna quis tincidunt vestibulum. Duis aliquam massa turpis. Aenean eu egestas purus.</p>
      </a>
      <a class="row compras-container"  href="ecommerce">
        <h5 class="row titulo-personalizadas">Club de compras</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel dui eget felis consectetur consectetur nec et risus. Duis ultrices augue eu odio imperdiet consequat. Mauris quis dictum purus, at efficitur ligula. Aenean ut vehicula nibh, in tempor ligula. Nam aliquam urna quis tincidunt vestibulum. Duis aliquam massa turpis. Aenean eu egestas purus.</p>
      </a>
      <a class="row suscribete-container"  href="suscripcion">
        <h5 class="row titulo-personalizadas">Suscríbete</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel dui eget felis consectetur consectetur nec et risus. Duis ultrices augue eu odio imperdiet consequat. Mauris quis dictum purus, at efficitur ligula. Aenean ut vehicula nibh, in tempor ligula. Nam aliquam urna quis tincidunt vestibulum. Duis aliquam massa turpis. Aenean eu egestas purus.</p>
      </a>
    </div>
  </div>
</section>