<!-- Seccion de inicio -->
<section class="inicio row p-0 m-0">
  <section class="carrousel col-9 p-0 m-0">
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="6000">
          <img src="../assets/imagen_inicio.jpg" class="d-block w-100" alt="..." style="margin: 0;padding: 0;">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="6000">
          <img src="../assets/inicio2.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="6000">
          <img src="../assets/inicio3.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
  <section class="promo col-3 p-0 m-0">
    <img src="../assets/suscribete.jpg" alt="" class="img-fluid p-0 m-0">
  </section>
</section>

<!-- Seccion ultimos articulos -->
<section class="my-1 py-2 mx-4">
  <h3 class="row mx-2 my-4"><b>Ultimos artículos</b></h3>
  <hr>
  <div *ngFor="let publicacion of publicaciones" style="display:inline-block;" class="card row col-12 col-md-4 col-xxl-3">
    <app-publicacion [publicacion]="publicacion"></app-publicacion>
  </div>
  <div id="editor" hidden></div>
</section>

<!-- Seccion articulos destacados -->
<section class="my-1 py-1 mx-4">
  <h3 class="row pt-1 mx-2 my-1"><b>Destacados</b></h3>
  <hr>
  <div *ngFor="let publicacionDestacada of publicacionesDestacadas" style="display:inline-block;"
    class="row col-12 col-md-4 col-xxl-3 card">
    <app-publicacion [publicacion]="publicacionDestacada"></app-publicacion>
  </div>
</section>