.seccion-recientes {
  background-color: #ebeaea;
  padding: 1%;
  box-shadow: 2px 2px 10px #666;
  border-radius: 5px;
  margin-top: 4%;
}

.seccion-destacados {
  background-color: #ebeaea;
  padding: 1%;
  box-shadow: 2px 2px 10px #666;
  border-radius: 5px;
  margin-bottom: 2% !important;
}

.card {

  border-radius: 0px;
  border-style: none;
  display: inline-flex;
  background-color: #ebeaea;
}

.inicio-container {
  margin-top: 2%;
  /* background-color: rgb(255, 109, 0, 255); */
}

.letra-blanca {
  color: white;
}

.letra-blanca:hover {
  opacity: 1;
  color: rgb(247, 193, 93);
}

.letra-negra {
  color: black;
}

.letra-negra:hover {
  opacity: 1;
  color: rgb(122, 80, 3);
}

.rrss {
  position: absolute;
  top: 70%;
  left: 5%;
}

.icono-rrss {
  width: 200%;
}

.naranja {
  /* background-color: rgb(255, 109, 0, 255); */
  background-color: black;
  height: 20px;
}

.promo {
  box-shadow: 2px 2px 10px #666;
}

hr {
  color: rgb(255, 109, 0, 255);
  border-width: 2px;
}

.carrusel {
  box-shadow: 2px 2px 10px #666;
}

.recientes {
  height: auto;
  width: 100%;
  margin-left: 0;
}

.destacados {
  height: auto;
  width: 100%;
  margin-left: 0;
}

.publicacion {
  height: auto;
  display: flex;
}

app-publicacion {
  display: inline-flex;
}



.recomendaciones {
  margin-top: 5%;
  margin-right: 10%;
  padding: 5%;
  border-style: ridge;
  border-color: black;
  border-width: 1px;
  box-shadow: 2px 2px 10px #666;
  height: 40%;
}

.boton-login {
  justify-self: right;
}

.titulo-podcast {
  color: rgb(255, 109, 0, 255);
}

.titulo-twitter {
  color: rgb(255, 109, 0, 255);
}

.titulo-publicaciones-lateral {
  color: rgb(255, 109, 0, 255);
}

.input-buscador {
  width: 80%;
}

/* Oculta el texto al cargar la página */
.carousel-caption {
  opacity: 0;
  transform: translateY(100%);
}

/* Hace aparecer el texto después de 1 segundo */
.carousel-item.active .carousel-caption {
  animation: slide-up 0.8s 1s forwards;
}

/* Hace desaparecer el texto y lo hace entrar desde abajo */
.carousel-item .carousel-caption {
  animation: slide-down 0s forwards;
}

.numero-pagina {
  display: inline;
}


/* Animación para hacer aparecer el texto */
@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animación para hacer desaparecer el texto y hacerlo entrar desde abajo */
@keyframes slide-down {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  50% {
    opacity: 0;
    transform: translateY(-50%);
  }

  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes slidein {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

/* Estilos tamaño movil */
@media (max-width: 525px) {
  .letra-blanca {
    font-size: 1em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .letra-negra {
    font-size: 1em;
  }

  .rrss {
    position: absolute;
    top: 70%;
    left: 5%;
  }

  .icono-rrss {
    width: 80%;
  }

  .titulo-buscador {
    font-size: 2vw;
  }

  .boton-buscador {
    width: 20%;
  }

  .inicio-container {
    margin-top: 0%;
    /* background-color: rgb(255, 109, 0, 255); */
  }

  .seccion-recientes {
    margin-top: 0 !important;
    text-align: center;
  }

  .seccion-destacados {
    text-align: center;
  }

  ::ng-deep .podcastSM-container {
    height: 80px;
    margin-bottom: 5%;
  }

  .podcastSM {
    text-align: center;
    height: 50%
  }

  .tienda {
    text-align: center;
  }

  .boton-tienda {
    width: 100%;
    padding: 0;
    margin-bottom: 4%;
    box-shadow: 1px 1px 5px #666;
    border-color: orange;
    border-width: 2px;
  }

  ::ng-deep iframe {
    height: 100%;
    margin: 0;
    padding: 0;
    box-shadow: 1px 1px 5px #666 !important;
  }

  .zona-articulos {
    width: 100%;
    text-align: center;
    margin-left: 0%;
    padding: 0;
  }

  .carousel {
    width: 100% !important;
  }

  .inicio {
    background-color: black;
    margin: 0% !important;
    padding: 0% !important;
    width: 100% !important;
  }

  .suscripcion-mini {
    width: 100%;
    margin-bottom: 5%;
    box-shadow: 1px 1px 2px #666;
  }

  .club-compras {
    width: 100%;
    margin-bottom: 5%;
    box-shadow: 1px 1px 2px #666;
  }
}

@media (min-width: 576px) and (max-width:991px) {
  .inicio {
    background-color: black;
    margin: 0% !important;
    padding: 0% !important;
    width: 96% !important;
  }

  .carousel {
    width: 100% !important;
  }

  .texto-carousel {
    font-size: small;
  }

  .texto-titulo {
    font-size: medium;

  }

  .letra-blanca {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .letra-negra {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .boton-buscador {
    width: 20%;
  }

  .inicio-container {
    display: flex;
    justify-content: center;
  }

  .zona-articulos {
    margin-top: 1% !important;
    margin-left: 0% !important;
    text-align: center;
    margin-left: 0%;
    padding: 0;
    width: 100% !important;
  }

  .columna-articulos {
    margin: 0%;
    padding-left: 1%;
    padding-right: 0% !important;
  }

  .seccion-recientes {
    margin-top: 5% !important;
    text-align: center;
    width: 96%;
    margin-left: 2% !important;
  }

  .seccion-destacados {
    margin-top: 0 !important;
    text-align: center;
    width: 96%;
    margin-left: 2% !important;
  }

  .podcast {
    margin-top: 13%;
    margin-right: 2%;
    background-color: white;
    padding: 3%;
    border-style: ridge;
    border-color: rgb(206, 205, 205);
    border-width: 1px;
    box-shadow: 2px 2px 10px #666;
    height: fit-content;
    border-radius: 5px;
  }

  .buscador {
    margin-top: 5%;
    margin-right: 2%;
    background-color: rgb(255, 109, 0, 255);
    padding: 3%;
    border-style: ridge;
    border-color: rgb(139, 139, 139);
    border-width: 1px;
    box-shadow: 2px 2px 10px #666;
    border-radius: 5px;
  }

  .twitter {
    margin-top: 5%;
    margin-right: 2%;
    padding: 3%;
    border-style: ridge;
    border-color: rgb(206, 205, 205);
    border-width: 1px;
    box-shadow: 2px 2px 10px #666;
    height: fit-content;
    border-radius: 5px;
  }

  .lateral-container {
    margin-top: 2.5%;
    width: 33%;
  }

  .membresia-container {
    text-align: start;
    margin-top: 2.5%;
    width: 100%;
    box-shadow: 2px 2px 10px #666;
    padding-left: 0%;
    border-radius: 5px;
  }

  .compras-container {
    text-align: start;
    margin-top: 2.5%;
    width: 100%;
    box-shadow: 2px 2px 10px #666;
    padding-left: 0%;
    border-radius: 5px;
  }

  .suscribete-container {
    text-align: start;
    margin-top: 2.5%;
    width: 100%;
    box-shadow: 2px 2px 10px #666;
    padding-left: 0%;
    border-radius: 5px;
  }

  .personalizadas {
    box-shadow: 2px 2px 10px #666;
    border-radius: 5px;
    margin-top: 4%;
    margin-left: -4%;
    padding-left: 0%;
    width: 100%;
  }

  .titulo-personalizadas {
    color: rgb(255, 109, 0, 255);
    padding-left: 10%;
    padding-top: 3%;
  }

  a:link,
  a:visited,
  a:active {
    text-decoration: none;
    color: black;
  }

  .personalizadas {
    box-shadow: 2px 2px 10px #666;
    border-radius: 5px;
    margin-top: 4%;
    margin-left: -4%;
    padding-left: 0%;
    width: 100%;
  }

  .titulo-personalizadas {
    color: rgb(255, 109, 0, 255);
    padding-left: 13%;
    padding-top: 3%;

    .suscripcion-mini {
      width: 100%;
      margin-bottom: 5%;
      box-shadow: 1px 1px 2px #666;
    }

    .club-compras {
      width: 100%;
      margin-bottom: 5%;
      box-shadow: 1px 1px 2px #666;
    }
  }

  /* Estilos tamaño grande */
  @media (min-width: 992px) {
    .inicio {
      background-color: black;
      margin: 0% !important;
      padding: 0% !important;
      width: 85% !important;
    }

    .texto-carousel {
      font-size: small;
    }

    .texto-titulo {
      font-size: medium;

    }

    .letra-blanca {
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .letra-negra {
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .boton-buscador {
      width: 20%;
    }

    .inicio-container {
      display: flex;
      justify-content: center;
    }


    .zona-articulos {
      margin-top: 1% !important;
      margin-left: 5% !important;
      text-align: center;
      margin-left: 0%;
      padding: 0;
      width: 95% !important;
    }

    .lateral-container {
      margin-top: 2.5%;
      width: 18.5%;
    }

    .personalizadas {
      box-shadow: 2px 2px 10px #666;
      border-radius: 5px;
      margin-top: 4%;
      margin-left: -4%;
      padding-left: 0%;
      width: 100%;
    }

    .titulo-personalizadas {
      color: rgb(255, 109, 0, 255);
      padding-left: 13%;
      padding-top: 3%;
    }

    .membresia-container {
      text-align: start;
      margin-top: 2.5%;
      width: 100%;
      box-shadow: 2px 2px 10px #666;
      padding-left: 0%;
      border-radius: 5px;
      padding-bottom: 5%;
    }

    .compras-container {
      text-align: start;
      margin-top: 2.5%;
      width: 100%;
      box-shadow: 2px 2px 10px #666;
      padding-left: 0%;
      border-radius: 5px;
    }

    .suscribete-container {
      text-align: start;
      margin-top: 2.5%;
      width: 100%;
      box-shadow: 2px 2px 10px #666;
      padding-left: 0%;
      border-radius: 5px;
    }

    a:link,
    a:visited,
    a:active {
      text-decoration: none;
      color: black;
    }

    .suscripcion-mini {
      width: 100%;
      margin-bottom: 5%;
      box-shadow: 1px 1px 2px #666;
    }

    .club-compras {
      width: 100%;
      margin-bottom: 5%;
      box-shadow: 1px 1px 2px #666;
    }
  }
}