.card-image{
    box-shadow: 2px 2px 10px #666;
    background-color: rgb(255,109,0,255);
    border-radius: 0;
}
.img-card{
    transform: rotate(-3deg);
}
.card-body{
    background-color: unset;
    height: 30vh;
}
.publicacion-preview{
    border-radius: 0;
    height: auto !important
}
/* rgb(255,109,0,255); */
.card-title{
    height: fit-content !important
}
.card-text{
   
}
.card-text-container{
    height: 400px;
}