
<a class="btn publicacion-preview"  href="publicaciones/{{publicacion.id}}">
    <div class="card-image">
        <img src="{{publicacion.imagenPreviewUrl}}" class="img-card img-fluid w-100" alt="">  
    </div>
    <div class="card-body">
        <div style="display:block;">
            <h5 class="card-title text-center m-1 " style="height:5vh;"><b>{{publicacion.titulo}}</b></h5>
            <div class="card-text text-center">
                <p class="card-text my-3" style="height:10vh; text-align: justify;">{{publicacion.subtitulo}}</p>
            </div>
        </div>
    </div>
</a>
