.card-image{
    box-shadow: 2px 2px 10px #666;
    background-color: orange;
    border-radius: 0;
}
.img-card{
    transform: rotate(-3deg);
}
.card-body{
    background-color: unset;
    height: 30vh;
}
.publicacion-preview{
    border-radius: 0;
}
/* rgb(255,109,0,255); */