.email-input{
    display: inline;
}
.email-label{
    display: inline;
}
.email-container{
    text-align: center;
    align-items: center;
}
.modal-header {
    background-color: rgb(255, 109, 0, 255);
    color: white;
}
