<div class="row my-2">
    <div class="col-2"></div>
    <div class="col-8 email-container">
        <label for="email" class="mx-2 email-label">Email: </label>
        <input type="text" [(ngModel)]="email" class="email-input mx-2">
        <button class="btn btn-success" (click)="recuperarPassword()">Enviar correo de recuperación</button>
    </div>
    <div class="col-2"></div>
</div>
<div class="text-center my-4">
    Escribe tu email y te enviaremos un correo de recuperacion.
</div>

<!-- Modal Enviado-->
<div class="modal fade" id="enviadoRecuperacionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Email enviado</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Te hemos enviado un correo con un enlace para recuperar tu contraseña. Puede que esté en la bandeja de SPAM.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Error Enviado-->
<div class="modal fade" id="errorRecuperacionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Email enviado</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Ha habido un error al enviar el correo de recuperación. Intentalo más tarde o contacta con nosotros por email "vermutorero@hotmail.com"</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>