<h2 class="m-2">GESTION ECOMMERCE</h2>

<hr>
<form>
	<div class="mb-3 ms-2 row">
		<label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Búsqueda:</label>
		<div class="col-xs-3 col-sm-auto">
			<input id="table-filtering-search" class="form-control" type="text" [formControl]="filter" />
		</div>
	</div>
</form>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos$ | async">
        <td><ngb-highlight [result]="producto.id | number" [term]="filter.value"></ngb-highlight></td>
        <td> <ngb-highlight [result]="producto.name" [term]="filter.value"></ngb-highlight></td>
        <td> <ngb-highlight [result]="producto.price | number" [term]="filter.value"></ngb-highlight></td>
        <td> <button class="btn btn-warning">MODIFICAR</button></td>
        <td> <button class="btn btn-danger">ELIMINAR</button></td>
      </tr>
    </tbody>
  </table>
<div class="row ms-2 mb-3 justify-content-around">
    <DIV class="col"><button routerLink="/gestion/crear-producto" class="btn btn-success">NUEVO PRODUCTO</button></DIV>
    <DIV class="col"><button class="btn btn-success">GESTIONAR SECCIONES</button></DIV>
</div>