<div class="col-12 col-lg-4 p-4 text-center">
    <div class="nueva-tag-container mb-4">
        <h3>Secciones</h3>
        <input type="text" [(ngModel)]="seccionNueva.seccionNombre">
        <button class="btn btn-success mx-3" (click)="nuevaSeccion()">Crear nueva seccion</button>
    </div>
    
    <div *ngFor="let seccion of secciones" style="display:block;" class="gestionar-tags-container">
        <app-seccion [seccion]="seccion" (eliminarSeccionEvent)="eliminarSeccion($event)" (modificarSeccionEvent)="modificarSeccion($event)"></app-seccion>
    </div>
</div>

