<div class="col-12">
  <button *ngIf="isLoggedUser" class="btn btn-outline-danger btn-sm boton-login ml-4 mx-2 " type="submit"
    (click)="exitLogin()">Exit log in</button>
  <button *ngIf="!isLoggedUser" class="btn btn-outline-success btn-sm boton-login ml-4 mx-2 " type="submit"
    data-bs-toggle="modal" data-bs-target="#logInModal">Log in</button>
  <a *ngIf="!isLoggedUser" class="btn  btn-outline-light btn-sm boton-login" type="submit" 
  href="/suscripcion">Suscríbete</a>
</div>
<div class="col-12">
  <a class="usuarioLoggeado" href="security/usuario-editar">{{usuario.nombre}} {{usuario.apellido1}} {{usuario.apellido2}}</a>
</div>
<div class="col-12">
  <a *ngIf="!usuario.nombre" href="security/login/pass-recovery" class="olvidado">¿Has olvidado tu contraseña?</a>
</div>



<!-- Modal Login-->
<div class="modal fade" id="logInModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Acceder</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row email-input m-1">
          <label class="col-1" for="email">Email</label>
          <input class="col-8" type="text" [(ngModel)]="email" (keyup)="onKeyUp($event)">
        </div>
        <div class="email-input m-2">
          <label class="col-1" for="password">Password</label>
          <input type="password" class="col-8" [(ngModel)]="password" (keyup)="onKeyUp($event)">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" value="Aceptar" class="btn btn-primary" (click)="login()" data-bs-dismiss="modal" >Aceptar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Signin-->
<div class="modal fade" id="signInModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Suscribirse</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="email-input m-2">
          <label for="email">Nombre</label>
          <input type="text" class="mx-2" [(ngModel)]="usuarioNuevo.nombre">
        </div>
        <div class="email-input m-2">
          <label for="email">Primer apellido</label>
          <input type="text" class="mx-2" [(ngModel)]="usuarioNuevo.apellido1">
        </div>
        <div class="email-input m-2">
          <label for="email">Segundo apellido</label>
          <input type="text" class="mx-2" [(ngModel)]="usuarioNuevo.apellido2">
        </div>
      <!--   <div class="email-input m-2">
          <label for="email">Dirección</label>
          <input type="text" class="mx-2" [(ngModel)]="usuarioNuevo.direccion">
        </div> -->
        <div class="email-input m-2">
          <label for="email">Suscripción</label>
          <input type="text" class="mx-2" [(ngModel)]="rolNombreSeleccionado">
        </div>
        <div class="email-input m-2">
          <label for="email">Email</label>
          <input type="text" class="mx-2" [(ngModel)]="usuarioNuevo.email">
        </div>
        <div class="email-input m-2">
          <label for="password">Password</label>
          <input type="password" class="mx-2" [(ngModel)]="usuarioNuevo.password">
        </div>
        <div class="email-input m-2">
          <label for="password">Password</label>
          <input type="password" class="mx-2" [(ngModel)]="password2">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="login()" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Suscripcion caducada-->
<div class="modal fade" id="renovarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Error al acceder</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <p>La suscripcion ha caducado. Puedes suscribire por 31 dias más.</p>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <a  class="btn btn-primary" href="renovar-suscripcion">Renovar suscripcion</a>
      </div>
    </div>
  </div>
</div>