.usuarioLoggeado {
    color: white;
    margin-top: 5%;
    font-size: small;
}

.modal-body {
    text-align: left !important;
}

label {
    width: 30%;
}

.modal-header {
    background-color: rgb(255, 109, 0, 255)
}

.modal-title {
    color: white;
    font-weight: bold;
}
a{
    text-decoration: none !important;
}

a.olvidado{
    color: orange;
}

.olvidado:hover{ 
    opacity: 0.7;
    color: white;
}
.btn{
    height: 10% !important;
}