<main class="fondo row py-3">
    <section class="col-12 col-sm-9">
        <section class="hoja">
            <!-- Titulo de la publicacion -->
            <h1 class="text-center"><b>{{publicacion.titulo}}</b></h1>
            <!-- Datos de la publicacion -->
            <section class="datos">
                <!-- Autor -->
                <section class="col-12 col-sm-4 columna-autor">
                    <div class="row d-flex align-items-center autor">
                        <div *ngIf="publicacion.autor"
                            class="d-none d-sm-block col-sm-3 justify-content-center align-items-center">
                            <img *ngIf="publicacion.autor.nombre=='Elisabeth'" src="../../../../assets/eli.jpeg" alt=""
                                class="foto-autor">
                        </div>
                        <div class="col-12 col-sm-9 text-center">
                            <p *ngIf="publicacion.autor" class="autor">{{publicacion.autor.nombre}}
                                {{publicacion.autor.apellido1}} {{publicacion.autor.apellido2}}</p>
                        </div>
                    </div>
                </section>
                <!-- Tags y lugar -->
                <section class="col-12 col-sm-5 text-center">
                    <div class="row justify-content-center">
                        <div *ngFor="let tag of publicacion.tags" class="tag m-1"
                            [routerLink]="['/publicaciones-tag/'+ tag.tagNombre]">
                            <p class="tagNombre">{{tag.tagNombre}}</p>
                        </div>
                    </div>
                    <div *ngIf="publicacion.lugar" class="row d-flex justify-content-center lugar my-1">
                        <a class="link" href="publicaciones-provincia/{{publicacion.lugar.lugarNombre}}">
                            <div class="lugar">
                                <p class="lugarNombre text-center">
                                    {{publicacion.lugar.lugarNombre}}</p>
                            </div>
                        </a>
                    </div>
                </section>
                <!-- RRSS y LIKEs-->
                <section class="col-12 col-sm-3 rrss">
                    <div class="row p-3 p-md-1 mt-1">
                       <!--  <div class="col-2 my-1 icono-rrss-container">
                            <a href="https://www.facebook.com/elisabethgiborra">
                                <img class="icono-rrss" src="../../../../assets/facebookIcon.png" alt="">
                            </a>
                        </div>
                        <div class="col-2 my-1 icono-rrss-container">
                            <a href="https://www.instagram.com/vermu.torero/">
                                <img class="icono-rrss" src="../../../../assets/instagramIcon.png" alt="">
                            </a>
                        </div>
                        <div class="col-2 my-1 icono-rrss-container">
                            <a href="http://es.linkedin.com/in/elisabethgiborra">
                                <img class="icono-rrss" src="../../../../assets/linkedinIcon.png" alt="">
                            </a>
                        </div>
                        <div class="col-2 my-1 icono-rrss-container">
                            <a href="https://twitter.com/elisabethiborra">
                                <img class="icono-rrss" src="../../../../assets/twitterIcon.png" alt="">
                            </a>
                        </div> -->
                        <div class="col-1 my-1  icono-rrss-container likes-container text-center">
                            <div class="likes col-12 text-center d-flex" data-bs-toggle="modal"
                                data-bs-target="#likeModal" (click)="like()">
                                <img class="icono-like" src="../../../../assets/like.png" alt="like">
                                <p class="numero"><b>{{numeroLikes}}</b></p>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <hr>
            <!-- Contenido de la publicacion -->
            <section>
                <article class="article" id="article"></article>
            </section>
            <div class="text-center">
                <p *ngIf="fechaFormateada">Publicado el {{fechaFormateada}}</p>
            </div>
            <div class="row justify-content-center">
                <a *ngIf="rol == 'ROLE_ADMIN' || rol == 'ROLE_WRITER'" class="btn btn-outline-warning m-2"
                    style="width: fit-content;" href="formulario/{{publicacion.id}}">Modificar
                    publicación</a>
                <a *ngIf="rol == 'ROLE_ADMIN'" class="btn btn-outline-danger m-2" style="width: fit-content;"
                    (click)="eliminarPublicacion()">Eliminar
                    publicación</a>
                <a *ngIf="rol !== 'ROLE_ADMIN' && rol !== 'ROLE_WRITER' && rol !== 'ROLE_USER_MEMBER' && rol !== 'ROLE_USER_SUBSCRIBED'"
                    class="btn btn-outline-primary m-2" style="width: fit-content;" href="suscripcion">Suscribirme</a>
            </div>
        </section>
    </section>
    <!-- Seccion lateral -->
    <section class="d-none d-sm-block col-sm-3">
        <section class="row podcast lateral mb-4" id="podcast">
            <h5 class="row titulo-podcast">Podcast</h5>
        </section>
        <section class="row buscador lateral mb-4 ">
            <h5 class="row titulo-buscador">Buscador de artículos</h5>
            <form class="d-flex" role="search">
                <input class="form-control me-2 input-buscador" placeholder="Buscar" aria-label="Buscar"
                    [(ngModel)]="palabrasClave" id="palabrasClave" name="palabrasClave">
                <button class="btn btn-outline-light btn-sm" type="submit"
                    (click)="buscarPublicacionesPorPalabras()">Buscar</button>
            </form>
        </section>
  <!--       <section class="row twitter lateral mb-4">
            <h5 class="row titulo-twitter">Twitter</h5>
            <div class="col-12" id="twitter1">
            </div>
            <div class="col-12" id="twitter2">
            </div>
            <div class="col-12" id="twitter3">
            </div>
        </section> -->
        <!-- Publicaciones en la misma provincia -->
        <section *ngIf="publicacionesCerca[0]" class="row lateral mb-4">
            <div class="col-12 pt-4">
                <h5 class="titulo-publicaciones-lateral">Cerca de aquí</h5>
            </div>
            <div class="col-12 preview">
                <div *ngFor="let publicacion of publicacionesCerca" style="display:inline-block;" class="card">
                    <app-publicacion [publicacion]="publicacion"></app-publicacion>
                </div>
            </div>
        </section>

        <!-- Publicaciones relacionadas con las tag -->
        <section *ngIf="publicacionesRelacionadas[0]" class="row lateral mb-3">
            <div class="col-12 mt-4">
                <h5 class="titulo-publicaciones-lateral">Relacionadas</h5>
            </div>
            <div class="col-12 preview">
                <div *ngFor="let publicacion of publicacionesRelacionadas" style="display:inline-block;" class="card">
                    <app-publicacion [publicacion]="publicacion"></app-publicacion>
                </div>
            </div>
        </section>
    </section>
</main>

<!-- Modal Like-->
<div class="modal fade" id="likeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fs-5" id="exampleModalLabel">¡Gracias por darle a Like!</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row text-center m-3">
                    <a href="invitar-vino">
                        <img class="invitar-vino img-fluid" src="../../../../assets/invitar-vino.png" alt="">
                    </a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button class="btn btn-primary" data-bs-dismiss="modal" (click)="invitarVino()">Invitar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Eliminar-->
<div class="modal fade" id="eliminarPublicacionModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fs-5" id="exampleModalLabel">Confirmar eliminar</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row text-center m-3">
                    <p>¿Esta seguro de que desea eliminar la publicación?</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button class="btn btn-danger" data-bs-dismiss="modal"
                    (click)="eliminarPublicacionConfirmado()">Eliminar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Eliminar-->
<div class="modal fade" id="errorEliminarPublicacionModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fs-5" id="exampleModalLabel">Error al eliminar</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row text-center m-3">
                    <p>Ha habido un error al intentar eliminar</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Pagado Vino-->
<div class="modal fade" id="pagadoVinoModal" tabindex="-1" aria-labelledby="signModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fs-5" id="exampleModalLabel">Invitación realizada</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Pago realizado con exito. Muchas gracias.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal de pago de paypal-->
<ng-template #modalVinoPaypal let-modal>
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Realizar Pago</h1>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <ngx-paypal [config]="payPalConfig"></ngx-paypal>
    </div>
    <div class="modal-footer">
        <button type="button" ngbAutofocus class="btn btn-secondary" (click)="modal.close('Save click')">Cerrar</button>
    </div>
</ng-template>

<!-- Modal Error en pago-->
<div class="modal fade" id="errorPagoModal" tabindex="-1" aria-labelledby="signModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fs-5" id="exampleModalLabel">Algo ha fallado</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Ha habido un error en el pago y no se ha realizado.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal pago cancelado-->
<div class="modal fade" id="canceladoPagoModal" tabindex="-1" aria-labelledby="signModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fs-5" id="exampleModalLabel">Pago cancelado</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>El pago se ha cancelado.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>