.podcast-container{
    background-color: black;
    height: 200px;
    padding: 5%;

}
.twitter-container{
    margin-top: 5%;
    padding: 5%;
    background-color: black;
    height: fit-content;
    
}
.numero-tweet{
    color: white;
}
