<div class="row my-1 py-1 mx-2">
  <div *ngIf="edicion" class="col-12 col-lg-6">
    <img *ngIf="this.categoria.urlImagen" class="imagen-edicion img-fluid mt-4 pt-4 w-100"
      src="{{this.categoria.urlImagen}}" alt="" data-bs-toggle="modal" data-bs-target="#imagenModal">
    <img *ngIf="!this.categoria.urlImagen || this.categoria.urlImagen == '' " class="img-fluid mt-4 pt-4"
      src="../../../../assets/no-imagen.png" alt="" data-bs-toggle="modal" data-bs-target="#imagenModal">
  </div>
  <div *ngIf="!edicion" class="col-12 col-lg-6 p-0">
    <img *ngIf="this.categoria.urlImagen" class="img-fluid mt-1 mt-lg-4 w-100" src="{{this.categoria.urlImagen}}" alt="">
  </div>
  <div *ngIf="!edicion" class="col-12 col-lg-6 p-1 p-md-3 container-texto">
    <div class="container-bloques">
      <h3 class="row mx-2 mt-2 nombre-categoria"><b>{{categoria.categoriaNombre}}</b></h3>
      <h4 class="row mx-2  container-descripcion">
        <p class="descripcion-categoria">{{categoria.categoriaDescripcion}}</p>
      </h4>
      <div *ngIf="isLoggedAdmin" class="text-center">
        <button class="btn btn-warning mb-2" (click)="abrirEdicion()">MODIFICAR</button>
      </div>
    </div>
  </div>
  <div *ngIf="edicion" class="col-12 col-lg-6 p-3 container-texto">
    <!-- <input class="row mx-2 my-4 text-center w-100" [(ngModel)]="categoria.categoriaNombre"> -->
    <h2 class="row nombre-categoria mx-2 my-4 text-center"><b>{{categoria.categoriaNombre}}</b></h2>
    <textarea rows="8" maxlength="1000" class="descripcion row mx-2 my-4 text-center w-100"
      [(ngModel)]="categoria.categoriaDescripcion"></textarea>
    <div class="text-center">
      <button class="btn btn-warning mb-2 mx-2" (click)="cerrarEdicion()">GUARDAR</button>
      <button class="btn btn-secondary mb-2 mx-2" (click)="cancelarEdicion()">CANCELAR</button>
    </div>
  </div>
  <hr class="mt-4">
  <div *ngFor="let publicacion of publicaciones"
    class="card row col-12 col-md-3 col-xxl-2">
    <app-publicacion [publicacion]="publicacion"></app-publicacion>
  </div>
  <div class="paginas text-center">
    <button *ngIf="pagina>0" class="btn btn-sm btn-secondary mx-2" (click)="getPaginaAnterior()">Anterior</button>
    <p class="numero-pagina">Pagina {{pagina +1}}</p>
    <button class="btn btn-sm btn-secondary mx-2" (click)="getPaginaSiguiente()">Siguiente</button>
  </div>
</div>

<!-- Modal Agregar Imagen de preview-->
<div class="modal fade" id="imagenModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Insertar Imagen</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <section class="my-2">
          <input type="file" accept="images/" (change)="onSelectFile($event)">
        </section>
        <section *ngIf="imageUrl">
          <angular-cropper [cropperOptions]='{aspectRatio: 15 / 10}' [imageUrl]="imageUrl"
            #angularCropper></angular-cropper>
        </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button class="btn btn-primary" (click)="getCroppedImage()" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>