<!-- Publicaciones de Restaurantes -->
<div *ngIf="categoria.categoriaNombre=='Restaurantes' || categoria.categoriaNombre=='Beber bien' " class="restaurantes">
  <div class="titulo-restaurantes-container">
    <h1 *ngIf="categoria.categoriaNombre=='Restaurantes'" class="titulo-restaurantes">Gastrosofía /<i>&nbsp;{{categoria.categoriaNombre}}</i></h1>
    <h1 *ngIf="categoria.categoriaNombre=='Beber bien'" class="titulo-restaurantes"><i>&nbsp;{{categoria.categoriaNombre}}</i></h1>
  </div>

  <div class="cards-container-restaurante mt-4">
    <div *ngFor="let publicacion of publicacionesRestauranteFila1" class="card mb-4 col-12 col-md-6 col-lg-4">
      <app-publicacion-restaurante [publicacion]="publicacion"></app-publicacion-restaurante>
    </div>
  </div>

  <div class="cards-container-restaurante mt-4">
    <div *ngFor="let publicacion of publicacionesRestauranteFila2" class="card mb-4 col-12 col-md-6 col-lg-4">
      <app-publicacion-restaurante [publicacion]="publicacion"></app-publicacion-restaurante>
    </div>
  </div>

  <div class="cards-container-restaurante mt-4">
    <div *ngFor="let publicacion of publicacionesRestauranteFila3" class="card mb-4 col-12 col-md-6 col-lg-4">
      <app-publicacion-restaurante [publicacion]="publicacion"></app-publicacion-restaurante>
    </div>
  </div>
</div>


<!-- Publicaciones de Entrevidas -->
<div *ngIf="categoria.categoriaNombre=='Entrevidas' || categoria.categoriaNombre=='Relaciones'" class="row restaurantes">
 <!-- Pantalla grande -->
  <div class="cards-container-entrevidas d-none d-lg-block col-lg-2">
    <div *ngFor="let publicacion of publicaciones; let i = index" class="card-entrevidas col-12"
      [ngClass]="{'clicked': i === activeCard}" (click)="onClickCard(i)">
      <app-publicacion-entrevidas [publicacion]="publicacion"
        (abrirPublicacionEvent)="abrirPublicacionEntrevidas($event)"></app-publicacion-entrevidas>
    </div>
  </div>
  <div class="publicacion-seleccionada-container d-none d-lg-block col-lg-9">
    <app-publicacion-completa [publicacion]="publicacionSeleccionada"
      class="publicacion-completa"></app-publicacion-completa>
  </div>

  
  <!-- Pantalla movil -->
  <div class="cards-container-entrevidas-sm col-12 d-lg-none">
    <div *ngFor="let publicacion of publicaciones" class="card-entrevidas-sm col-12">
      <a href="publicaciones/{{publicacion.url}}">
        <app-publicacion-entrevidas [publicacion]="publicacion"></app-publicacion-entrevidas>
      </a>
     
    </div>
  </div>

</div>

<!-- Publicaciones de Patata Santa, Bares o Mercados-->
<div
  *ngIf="categoria.categoriaNombre=='Patata Santa' || categoria.categoriaNombre=='Bares' || categoria.categoriaNombre=='Patata Santa'"
  class="row gastro">
  <section class="zona-articulos row">
    <div class="columna-articulos col-12">
      <!-- Seccion articulos gastro recientes-->
      <!-- Pantalla grande -->
      <section class="seccion-recientes d-none d-lg-block">
        <div class="publicaciones-gastro-container row mt-2">
          <div *ngFor="let publicacion of publicaciones; let i = index"
            class="card-gastro col-12 col-sm-6 col-lg-4 col-xxl-3 mb-4" [ngClass]="{'clicked': i === activeCard}"
            (click)="onClickCard(i)">
            <app-publicacion-gastro [publicacion]="publicacion"
              (abrirPublicacionEvent)="abrirPublicacionEntrevidas($event)"></app-publicacion-gastro>
          </div>
          <div class="paginas text-center">
            <button *ngIf="pagina>0" class="btn btn-sm btn-secondary mx-2"
              (click)="getPaginaAnterior()">Anterior</button>
            <p class="numero-pagina">Pagina {{pagina +1}}</p>
            <button *ngIf="publicaciones.length>3" class="btn btn-sm btn-secondary mx-2"
              (click)="getPaginaSiguiente()">Siguiente</button>
          </div>
          <div id="editor" hidden></div>
        </div>
      </section>
      <!-- Formato movil -->
      <section class="d-lg-none">
        <div class="publicaciones-gastro-container row mt-2">
          <div *ngFor="let publicacion of publicaciones"
            class="card col-12 col-sm-6 col-lg-4 col-xxl-3 mb-4">
            <app-publicacion [publicacion]="publicacion"></app-publicacion>
          </div>
          <div class="paginas text-center">
            <button *ngIf="pagina>0" class="btn btn-sm btn-secondary mx-2"
              (click)="getPaginaAnterior()">Anterior</button>
            <p class="numero-pagina">Pagina {{pagina +1}}</p>
            <button *ngIf="publicaciones.length>3" class="btn btn-sm btn-secondary mx-2"
              (click)="getPaginaSiguiente()">Siguiente</button>
          </div>
          <div id="editor" hidden></div>
        </div>
      </section>
      <section class="publicacion-gastro-seleccionada-container d-none d-lg-block">
        <app-publicacion-completa [publicacion]="publicacionSeleccionada"
          class="publicacion-completa"></app-publicacion-completa>
      </section>

      <!-- Seccion articulos destacados -->
      <section class="seccion-destacados my-1 pt-3 mx-1 mx-md-4">
        <h3 class="row mx-2 my-1"><b>Destacados</b></h3>
        <hr class="my-0">
        <div class="destacados row align-items-start mt-2">
          <div *ngFor="let publicacionDestacada of publicacionesDestacadas"
            class="card col-12 col-sm-6 col-lg-3 col-xxl-3 mb-4">
            <app-publicacion [publicacion]="publicacionDestacada"></app-publicacion>
          </div>
        </div>
      </section>
    </div>
  </section>
</div>

<!-- Publicaciones con formato normal-->
<div
  *ngIf="categoria.categoriaNombre!='Restaurantes' && categoria.categoriaNombre!='Entrevidas' 
&& categoria.categoriaNombre!='Patata Santa' && categoria.categoriaNombre!='Bares'&& categoria.categoriaNombre!='Mercados'">
  <div class="row my-1 py-1 mx-2">

    <div *ngIf="edicion" class="col-12 col-lg-6 imagen-categoria-container">
      <img *ngIf="this.categoria.urlImagen" class="imagen-edicion img-fluid mt-4 pt-4 w-100"
        src="{{this.categoria.urlImagen}}" alt="" data-bs-toggle="modal" data-bs-target="#imagenModal">
      <img *ngIf="!this.categoria.urlImagen || this.categoria.urlImagen == '' " class="img-fluid mt-4 pt-4"
        src="../../../../assets/no-imagen.png" alt="" data-bs-toggle="modal" data-bs-target="#imagenModal">
    </div>

    <div *ngIf="!edicion" class="col-12 col-lg-6 p-0 imagen-categoria-container">
      <img *ngIf="this.categoria.urlImagen" class="imagen-categoria img-fluid " src="{{this.categoria.urlImagen}}"
        alt="">
    </div>

    <div *ngIf="!edicion" class="col-12 col-lg-6 p-1 p-md-3 container-texto">
      <div class="container-bloques">
        <h3 class="row mx-2 mt-2 nombre-categoria"><b>{{categoria.categoriaNombre}}</b></h3>
        <h4 class="row mx-2  container-descripcion">
          <p class="descripcion-categoria">{{categoria.categoriaDescripcion}}</p>
        </h4>
        <div *ngIf="isLoggedAdmin" class="text-center">
          <button class="btn btn-warning mb-2" (click)="abrirEdicion()">MODIFICAR</button>
        </div>
      </div>
    </div>

    <div *ngIf="edicion" class="col-12 col-lg-6 p-3 container-texto">
      <h2 class="row nombre-categoria mx-2 my-4 text-center"><b>{{categoria.categoriaNombre}}</b></h2>
      <textarea rows="8" maxlength="1000" class="descripcion row mx-2 my-4 text-center w-100"
        [(ngModel)]="categoria.categoriaDescripcion"></textarea>
      <div class="text-center">
        <button class="btn btn-warning mb-2 mx-2" (click)="cerrarEdicion()">GUARDAR</button>
        <button class="btn btn-secondary mb-2 mx-2" (click)="cancelarEdicion()">CANCELAR</button>
      </div>
    </div>

    <hr class="mt-4">
    <div class="cards-container">
      <div *ngFor="let publicacion of publicaciones" class="card row col-12 col-md-3 col-xxl-2">
        <app-publicacion [publicacion]="publicacion"></app-publicacion>
      </div>
    </div>

    <div class="paginas text-center">
      <button *ngIf="pagina>0" class="btn btn-sm btn-secondary mx-2" (click)="getPaginaAnterior()">Anterior</button>
      <p class="numero-pagina">Pagina {{pagina +1}}</p>
      <button class="btn btn-sm btn-secondary mx-2" (click)="getPaginaSiguiente()">Siguiente</button>
    </div>
  </div>
</div>


<!-- Modal Agregar Imagen al contenido de la publicacion-->
<div class="modal fade" id="imagenModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Insertar Imagen</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

              <section class="my-2">
                  <input type="file" accept="images/" (change)="onSelectFile($event)">
              </section>
              <section *ngIf="imageUrl">
                  <angular-cropper [imageUrl]="imageUrl" #angularCropper></angular-cropper>
              </section>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button class="btn btn-primary" (click)="getCroppedImage()" data-bs-dismiss="modal">Aceptar</button>
          </div>
      </div>
  </div>
</div>