.card{
    margin: 0px;
    padding: 0%;
    border-radius: 0px;
    border-style: none;
}

.cards-container{
    display: flex;
     flex-wrap: wrap;
    align-items: flex-start
  }
.container-texto{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.cards-container-restaurante {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.titulo-restaurantes{
    margin-left: 8%;
}  

.nombre-categoria{

}
.descripcion-categoria{
    font-size:x-large;

}
.imagen-edicion:hover{
    opacity: 0.5;
}
.modal-header{
    background-color: rgb(255,109,0,255);
    color: white;
}
.texto-categoria{
    text-align: center;
}
.numero-pagina{
    display: inline;
  }

/* Estilos tamaño movil */
@media (max-width: 40em) {
    .descripcion-categoria{
        font-size: medium;
    }
}