.card{
    margin: 0px;
    padding: 0%;
    border-radius: 0px;
    border-style: none;
}
.container-texto{
    display: flex;
    align-items: center;
}

.nombre-categoria{
}
.descripcion-categoria{
    font-size:x-large;

}
.imagen-edicion:hover{
    opacity: 0.5;
}
.modal-header{
    background-color: rgb(255,109,0,255);
    color: white;
}

/* Estilos tamaño movil */
@media (max-width: 40em) {
    .descripcion-categoria{
        font-size: medium;
    }
}