.body{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

/* Estilos tamaño movil */
@media (max-width: 40em) {
    ::ng-deep  img[alt="imagenAlt100"]{
        width:100% !important;
    }
    ::ng-deep  img[alt="imagenAlt75"]{
        width:90% !important;
    }
    ::ng-deep  img[alt="imagenAlt50"]{
        width:70% !important;
    }
    ::ng-deep img[alt="imagenAlt35"]{
        width:60% !important;
    }
    ::ng-deep img[alt="imagenAlt20"]{
        width:50% !important;
    }
    ::ng-deep .iframe-container{
        width:100% !important;
        height: fit-content !important;
    }
    ::ng-deep iframe[tipo="podcast"]{
        width: 100% !important;
        height: 25vw !important;
    }
    ::ng-deep iframe[tipo="youtube"]{
        width: 100% !important;
        height: 48vw !important;
    }
    .icono-rrss{
        width: 8vw;
    }
    .autor{
        margin-top: 3%;
        font-size: small;
    }

}

/* Estilos tamaño grande */
@media (min-width: 41em) {
    ::ng-deep img[alt="imagenAlt100"]{
        width:100% !important;
    }
    ::ng-deep img[alt="imagenAlt75"]{
        width:75% !important;
    }
    ::ng-deep img[alt="imagenAlt50"]{
        width:50% !important;
    }
    ::ng-deep img[alt="imagenAlt35"]{
        width:35% !important;
    }
    ::ng-deep img[alt="imagenAlt20"]{
        width:20% !important;
    }
    ::ng-deep iframe[tipo="podcast"]{
        width: 75% !important;
        height: 220px !important;
    }
    ::ng-deep iframe[tipo="youtube"]{
        width: 75% !important;
        height: 28vw !important;
    }

    .icono-rrss{
        width: 3vw;
    }
    .autor{
        margin-top: 3%;
        font-size: medium;
    }
    .datos{
        display:flex
    }
}