.card{
    margin: 0px;
    border-radius: 0px;
    border-style: none;
}
.boton{
    position: absolute;
    margin-left: 3% !important;

}

.boton-central{
    position: absolute;
    margin-left: 13% !important;
}

.letra-blanca{
    color: white;
}
.letra-blanca:hover{
    opacity: 1;
    color: rgb(247, 193, 93);
}
.letra-negra{
    color: black;
}
.letra-negra:hover{
    opacity: 1;
    color: rgb(122, 80, 3);
}
.modal-header{
  background-color: rgb(255,109,0,255);
  color: white;
}

/* Oculta el texto al cargar la página */
.carousel-caption {
    opacity: 0;
    transform: translateY(100%);
  }
  
  /* Hace aparecer el texto después de 1 segundo */
  .carousel-item.active .carousel-caption {
    animation: slide-up 0.8s 1s forwards;
  }
  
  /* Hace desaparecer el texto y lo hace entrar desde abajo */
  .carousel-item .carousel-caption {
    animation: slide-down 0.8s forwards;
  }
  
  /* Animación para hacer aparecer el texto */
  @keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Animación para hacer desaparecer el texto y hacerlo entrar desde abajo */
  @keyframes slide-down {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    50% {
      opacity: 0;
      transform: translateY(-50%);
    }
    100% {
      opacity: 0;
      transform: translateY(100%);
    }
  }
  
  @keyframes slidein {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
  