<h2 class="ms-2">DETALLE DEL PEDIDO</h2>

<Div>
  <div class="row ms-2 me-1">
    <div class="col-md-4">
      <div><strong>Nombre</strong></div>
      <div>
        {{ usuario.nombre }}
        <hr class="mt-0" />
      </div>
    </div>
    <div class="col-md-4">
      <div><strong>Primer apellido</strong></div>
      <div>
        {{ usuario.apellido1 }}
        <hr class="mt-0" />
      </div>
    </div>
    <div class="col-md-4">
      <div><strong>Segundo Apellido</strong></div>
      <div>
        {{ usuario.apellido2 }}
        <hr class="mt-0" />
      </div>
    </div>
  </div>
</Div>

<h4 class="ms-2">DIRECCION DE ENVIO</h4>

<Div>
  <div class="row ms-2 me-1">
    <div class="col-md-4">
      <div><strong>Ciudad</strong></div>
      <div>
        {{ direccionEnvio?.ciudad }}
        <hr class="mt-0" />
      </div>
    </div>
    <div class="col-md-4">
      <div><strong>Calle</strong></div>
      <div>
        {{ direccionEnvio?.calle }}
        <hr class="mt-0" />
      </div>
    </div>
    <div class="col-md-1">
      <div><strong>Número</strong></div>
      <div>
        {{ direccionEnvio?.numero }}
        <hr class="mt-0" />
      </div>
    </div>
    <div class="col-md-1">
      <div><strong>Piso</strong></div>
      <div>
        {{ direccionEnvio?.piso }}
        <hr class="mt-0" />
      </div>
    </div>
    <div class="col-md-1">
      <div><strong>Puerta</strong></div>
      <div>
        {{ direccionEnvio?.puerta }}
        <hr class="mt-0" />
      </div>
    </div>
    <div class="col-md-2">
      <div><strong>Código Postal</strong></div>
      <div>
        {{ direccionEnvio?.codigoPostal }}
        <hr class="mt-0" />
      </div>
    </div>
  </div>
</Div>

<h4 class="ms-2">PRODUCTOS DEL PEDIDO</h4>
<ul class="list-group m-2">
    <div *ngFor="let producto of productosCarrito">
    <li class="list-group-item d-flex justify-content-between align-items-center" >
        <div class="col-md-6">
            {{ producto.productName }} x {{producto.qty}} 
        </div>
        <div class="col-md-6">
        <strong>Total:</strong> {{producto.productPrice * producto.qty}} € 
        </div>
    </li>
    </div>
    <li class="list-group-item d-flex justify-content-between align-items-center" >
        <div class="col-md-6">
            <strong>Cantidad total a pagar:</strong> 
        </div>
        <div class="col-md-6">
         <strong>{{precioTotal}} € </strong>
        </div>
    </li>
  </ul>
  <div class="row justify-content-between m-2">
    <div class="col-4">
        <button class="btn btn-outline-success" (click)="pagar(modalPaypal)">Pagar</button>
    </div>
    <div class="col-4">
        <button routerLink="/ecommerce" class="btn btn-primary">
            VOLVER
          </button>
    </div>
  </div>
<!-- Modal de pago de paypal-->
<ng-template #modalPaypal let-modal>

            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Realizar Pago</h1>
                <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                <ngx-paypal [config]="payPalConfig"></ngx-paypal>
            </div>
            <div class="modal-footer">
                <button type="button" ngbAutofocus class="btn btn-secondary" (click)="modal.close('Save click')">Cerrar</button>
            </div>
     
</ng-template>



