.card{
    border-radius: 0px;
    border-style: none;
    display: inline-flex;
    background-color: #ebeaea;
    border-radius: 10px;
}
.cards-container{
    display: flex;
     flex-wrap: wrap;
    align-items: flex-start
  }