<div class="text-center">
  <button class="btn btn-outline-primary my-2" data-bs-toggle="modal" data-bs-target="#signInAdminModal">Agregar
    usuario</button>
    <button class="btn btn-outline-primary my-2" (click)="getUsuariosAdmin()">Ver admins</button>
</div>
<div class="row m-2 titulo-columna">
  <div class="d-none d-xl-block col-1">NOMBRE</div>
  <div class="d-none d-xl-block col-1">1º_APELLIDO</div>
  <div class="d-none d-xl-block col-1">2º_APELLIDO</div>
  <div class="d-none d-xl-block col-2">EMAIL</div>
  <div class="d-none d-xl-block col-2">ROL</div>
  <div class="d-none d-xl-block col-2">FECHA FIN SUSCRIPCIÓN</div>
  <div class="d-none d-xl-block col-2 text-center">ACCIONES</div>
</div>

<div *ngFor="let user of users">
  <app-user [user]="user" (modificarUserEvent)="abrirModificarModal($event)"
    (eliminarUserEvent)="deleteUsuario($event)"></app-user>
</div>

<!-- Modal Signin-->
<div class="modal fade" id="signInAdminModal" tabindex="-1" aria-labelledby="signModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Suscribirse</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="email-input m-2">
          <label for="nombre" class="col-5">Nombre</label>
          <input type="text" class="mx-2 col-5" [(ngModel)]="usuarioNuevo.nombre">
        </div>
        <div class="email-input m-2">
          <label for="apellido1"class="col-5">Primer apellido</label>
          <input type="text" class="mx-2 col-5" [(ngModel)]="usuarioNuevo.apellido1">
        </div>
        <div class="email-input m-2">
          <label for="apellido2" class="col-5">Segundo apellido</label>
          <input type="text" class="mx-2 col-5" [(ngModel)]="usuarioNuevo.apellido2">
        </div>
        <div class="email-input m-2">
          <label for="rol" class="col-5">Rol</label>
          <select class="m-2 col-5" [(ngModel)]="usuarioNuevo.roles[0].rolNombre">
            <option *ngFor="let rol of roles" name="roles" id="roles" value="{{rol.rolNombre}}">{{rol.rolNombre}}</option>
          </select>
        </div>
        <div class="email-input m-2">
          <label for="email" class="col-5">Email</label>
          <input type="text" class="mx-2 col-5" [(ngModel)]="usuarioNuevo.email">
        </div>
        <div class="email-input m-2">
          <label for="password" class="col-5">Password</label>
          <input type="password" class="mx-2 col-5" [(ngModel)]="usuarioNuevo.password">
        </div>
        <div class="email-input m-2">
          <label for="password2" class="col-5">Password</label>
          <input type="password" class="mx-2 col-5" [(ngModel)]="password2">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="postUsuarioAdmin()" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal modificar user -->
<div class="modal fade" id="modificarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modificar usuario</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row my-1">
          <div class="col-5">Nombre</div>
          <input class="col-5" [(ngModel)]="usuarioModificar.nombre">
        </div>
        <div class="row my-1">
          <div class="col-5">Apellido 1</div>
          <input class="col-5" [(ngModel)]="usuarioModificar.apellido1">
        </div>
        <div class="row my-1">
          <div class="col-5">Apellido 2</div>
          <input class="col-5" [(ngModel)]="usuarioModificar.apellido2">
        </div>
        <div class="row my-1">
          <div class="col-5">Email</div>
          <input class="col-5" [(ngModel)]="usuarioModificar.email">
        </div>
        <div class="row my-1">
          <div for="rol" class="col-5">Rol</div>
          <select class="col-5" [(ngModel)]="usuarioModificar.roles[0].rolNombre">
            <option *ngFor="let rol of roles" name="roles" id="roles" value="{{rol.rolNombre}}">{{rol.rolNombre}}</option>
          </select>
        </div>
        <div class="row my-1">
          <div class="col-5">Fecha Fin</div>
          <input class="col-5" [(ngModel)]="usuarioModificar.fechaFinSuscripcion">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="patchUsuario()">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal confirmar delete user -->
<div class="modal fade" id="confirmarDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar usuario</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>¿Estas seguro de que quieres eliminar {{usuarioBorrar.email}}?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="deleteUsuarioConfirmado()" data-bs-dismiss="modal">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal confirmado delete user -->
<div class="modal fade" id="confirmadoDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Usuario eliminado</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>El usuario {{usuarioBorrar.email}} ha sido eliminado.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"  (click)="recargarPagina()" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<!-- Error delete user -->
<div class="modal fade" id="errorDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">UError al eliminar</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>El usuario {{usuarioBorrar.email}} NO ha sido eliminado debido a un error.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"  (click)="recargarPagina()" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal modificado user -->
<div class="modal fade" id="modificadoUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modificación de usuario</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>Modificado usuario:  {{usuarioModificar.email}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="recargarPagina()">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal error al modificar user -->
<div class="modal fade" id="errorModificarUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modificación de usuario</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>Error al modificar usuario:  {{usuarioModificar.email}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="recargarPagina()">Aceptar</button>
      </div>
    </div>
  </div>
</div>