<section class="botones-container">
  <select class="selector-tipo" name="criterio" id="" [(ngModel)]="tipo" (change)="getClicks()">
    <option class="opcion" value="categorias">Categorias</option>
    <option class="opcion" value="tags" selected>Tags</option>
  </select>
  
  
  
  <select class="selector-tiempo" name="tiempo" id="" [(ngModel)]="tiempo"  (change)="getClicks()">
    <option class="opcion" value="365" selected>Ultimo año</option>
    <option class="opcion" value="90">Ultimo trimestre</option>
    <option class="opcion" value="30">Ultimo mes</option>
    <option class="opcion" value="7">Ultima semana</option>
    <option class="opcion" value="1">Ultimo día</option>
  </select>
  
  
</section>

<div class="chart-container">
    <canvas id="categoryChart"></canvas>
  </div>
  