.chart-container {
    width: 60%; /* Ajusta el ancho según tus necesidades */
    margin: 0 auto; /* Centrar horizontalmente */

  }
  
.botones-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
  }
  .selector-tipo{
    margin-right: 2%;
  }