<div class="row mb-4 suscripciones">
    <div class="col-1"></div>
    <div class="col-3 tipo-suscripcion tipo-suscripcion-1">
        <div class="text-center titulo-suscripcion">
            <input class="texto-titulo" [(ngModel)]="suscripciones[0].nombre">
        </div>
        <div class="caracteristicas-suscripcion mt-3">
            <div class="text-center">
                <p>CARACTERÍSTICAS</p>
            </div>
            <ul>
                <textarea  rows="3" class="row my-2" [(ngModel)]="suscripciones[0].caracteristica1"></textarea>
                <textarea  rows="3" class="row my-2" [(ngModel)]="suscripciones[0].caracteristica2"></textarea>
                <textarea  rows="3" class="row my-2" [(ngModel)]="suscripciones[0].caracteristica3"></textarea>
                <textarea  rows="3" class="row my-2" [(ngModel)]="suscripciones[0].caracteristica4"></textarea>
                <textarea  rows="3" class="row my-2" [(ngModel)]="suscripciones[0].caracteristica5"></textarea>
                <textarea  rows="3" class="row my-2" [(ngModel)]="suscripciones[0].caracteristica6"></textarea>
                <textarea  rows="3" class="row my-2" [(ngModel)]="suscripciones[0].caracteristica7"></textarea>
                <textarea  rows="3" class="row my-2" [(ngModel)]="suscripciones[0].caracteristica8"></textarea>
            </ul>
        </div>
        <div class="text-center precio-suscripcion">
            <p>PRECIO</p>
            <input [(ngModel)]="suscripciones[0].precio">
        </div>
    </div>
    
    <div class="col-3 tipo-suscripcion tipo-suscripcion-2">
        <div class="text-center titulo-suscripcion">
            <input class="texto-titulo" [(ngModel)]="suscripciones[1].nombre">
        </div>
        <div class="caracteristicas-suscripcion mt-3">
            <div class="text-center">
                <p>CARACTERÍSTICAS</p>
            </div>
            <ul>
                <textarea  rows="3" class="row my-2" [(ngModel)]="suscripciones[1].caracteristica1"></textarea>
                <textarea  rows="3" class="row my-2" [(ngModel)]="suscripciones[1].caracteristica2"></textarea>
                <textarea  rows="3" class="row my-2" [(ngModel)]="suscripciones[1].caracteristica3"></textarea>
                <textarea  rows="3" class="row my-2" [(ngModel)]="suscripciones[1].caracteristica4"></textarea>
                <textarea  rows="3" class="row my-2" [(ngModel)]="suscripciones[1].caracteristica5"></textarea>
                <textarea  rows="3" class="row my-2" [(ngModel)]="suscripciones[1].caracteristica6"></textarea>
                <textarea  rows="3" class="row my-2" [(ngModel)]="suscripciones[1].caracteristica7"></textarea>
                <textarea  rows="3" class="row my-2" [(ngModel)]="suscripciones[1].caracteristica8"></textarea>
            </ul>
        </div>
        <div class="text-center precio-suscripcion">
            <p>PRECIO</p>
            <input [(ngModel)]="suscripciones[1].precio">
        </div>
    </div>

    <div class="col-3 tipo-suscripcion tipo-suscripcion-3">
        <div class="text-center titulo-suscripcion">
            <input class="texto-titulo" [(ngModel)]="suscripciones[2].nombre">
        </div>
        <div class="caracteristicas-suscripcion mt-3">
            <div class="text-center">
                <p>CARACTERÍSTICAS</p>
            </div>
            <ul>
                <textarea  rows="3" class="row my-2" [(ngModel)]="suscripciones[2].caracteristica1"></textarea>
                <textarea  rows="3" class="row my-2" [(ngModel)]="suscripciones[2].caracteristica2"></textarea>
                <textarea  rows="3" class="row my-2" [(ngModel)]="suscripciones[2].caracteristica3"></textarea>
                <textarea  rows="3" class="row my-2" [(ngModel)]="suscripciones[2].caracteristica4"></textarea>
                <textarea  rows="3" class="row my-2" [(ngModel)]="suscripciones[2].caracteristica5"></textarea>
                <textarea  rows="3" class="row my-2" [(ngModel)]="suscripciones[2].caracteristica6"></textarea>
                <textarea  rows="3" class="row my-2" [(ngModel)]="suscripciones[2].caracteristica7"></textarea>
                <textarea  rows="3" class="row my-2" [(ngModel)]="suscripciones[2].caracteristica8"></textarea>
            </ul>
        </div>
        <div class="text-center precio-suscripcion">
            <p>PRECIO</p>
            <input [(ngModel)]="suscripciones[2].precio">
        </div>
    </div>
</div>

<div class="text-center mb-4">
    <button class="btn btn-primary my-2" style="width: 20%;" (click)="patchTipoSuscripcions()">Guardar cambios</button>
</div>

<!-- Modal confirmar modificada suscripcion -->
<div class="modal fade" id="modificadaSuscripcionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modificación de suscripcion</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <p>Se han modificado las suscripciones</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal error al modificar suscripcion -->
<div class="modal fade" id="errorModificarSuscripcionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modificación de suscripcion</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <p>Error al modificar suscripciones</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>