.suscripciones-component {
    background-color: #ebeaea;
    padding: 1%;
    box-shadow: 2px 2px 10px #666;
    border-radius: 5px;
    margin-bottom: 2% !important;

}

.texto-descripcion {
    font-weight: bold;
    font-family: sans-serif;
}

.tipo-suscripcion {
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 1%;
    margin: 0.5%;

    box-shadow: 2px 2px 10px #666;
}

.tipo-suscripcion-1 {
    background-color: rgb(247, 179, 52);
}

.tipo-suscripcion-2 {
    background-color: orange;
}

.tipo-suscripcion-3 {
    background-color: rgb(247, 149, 36);
}

.titulo-suscripcion {
    font-weight: bold;
    color: white;
}

.texto-titulo {
    font-weight: bold;
    text-shadow: 2px 2px 10px #666;
    padding: 1%;
}

.caracteristicas-suscripcion {
    font-family: sans-serif
}

.precio-suscripcion {
    font-weight: bold;
}

.precio-input {
    text-align: center;
}

textarea {
    width: 100%;
}

.modal-header {
    background-color: rgb(255, 109, 0, 255);
    color: white;
}

br {
    background-color: rgb(248, 229, 193);
}

.vinos {
    justify-content: center;
}

.vinos-container {
    margin: 0.5%;
    padding: 1%;
    background-color: blueviolet;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 30%;
    color: white;
}

.vinos-label {
    margin: 1%;
    font-weight: bold;
    text-shadow: 2px 2px 10px #1d1d1d;
}

.vinos-input {
    margin: 1%;
    text-align: center;
}


.paypal-row {
    justify-content: center;
}

.paypal-container {
    margin: 0.5%;
    padding: 1%;
    background-color: blue;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 40%;
    color: white;
}

.clientId-label {
    margin-top: 0%;
    margin-right: 0.5%;
    font-weight: bold;
    text-shadow: 2px 2px 10px #1d1d1d;
}

.clientId-input {
    margin: 1%;
    text-align: center;
    width: 80%;
}