
<div class="col-12 col-lg-4 p-4 text-center">
    <div class="nueva-tag-container mb-4">
        <h3>Tags</h3>
        <input type="text" [(ngModel)]="tagNueva.tagNombre">
        <button class="btn btn-success mx-3" (click)="nuevaTag()">Crear nueva Tag</button>
    </div>
    
    <div *ngFor="let tag of tags" style="display:block;" class="gestionar-tags-container">
        <app-tag [tag]="tag" (eliminarTagEvent)="eliminarTag($event)" (modificarTagEvent)="modificarTag($event)"></app-tag>
    </div>
</div>
