<form #formularioProducto="ngForm" (ngSubmit)="submitProducto(formularioProducto)" class="m-3">
  <div class="form-row">
    <div class="form-group col-md-6 m-1">
      <label for="inputNombre">Nombre</label>
      <input type="text" name="inputNombre"class="form-control" id="inputNombre" [(ngModel)] ="nuevoProducto.nombreProducto" required/>
    </div>
    <div class="form-group col-md-6 m-1">
      <label for="inputDescripcionC">Descripcion Corta</label>
      <input type="text" name="inputDescripcionC" class="form-control" id="inputDescripcionC" [(ngModel)] ="nuevoProducto.descripcionCorta" required/>
    </div>
  </div>
  <div class="form-group m-1">
    <label for="inputDesripcionL">Descripcion Larga</label>
    <input type="text" name="DescripcionL" class="form-control" id="DescripcionL" [(ngModel)] ="nuevoProducto.descripcionLarga" required/>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6 m-1">
      <label for="inputPrecio">Precio</label>
      <input type="number" name="inputPrecio" class="form-control" id="inputPrecio" [(ngModel)] ="nuevoProducto.precio" required />
    </div>
    <div class="form-group col-md-4 m-1">
      <label for="inputSeccion">Sección</label>
        <select name="inputSeccion" id="inputSeccion" class="form-control" [(ngModel)]="nuevoProducto.seccion" required>
          <option value="" disabled selected>Selecciona una sección...</option>
        <option *ngFor="let seccion of secciones" [value]="seccion.url">{{seccion.nombreSeccion}}</option>
      </select>
    </div>
  </div>
  <!-- Imagen -->
  <div class="col-md-4">
    <div *ngIf="nuevoProducto.url" class="card-image">
      <img
        src="{{nuevoProducto.url}}"
        class="img-card img-fluid"
        alt=""
        data-bs-toggle="modal"
        data-bs-target="#imagenModal"
      />
    </div>
    <div *ngIf="!nuevoProducto.url" class="card-image">
      <img
        src="../../../../assets/no-imagen.png"
        class="img-card img-fluid w-100 my-2"
        alt=""
        data-bs-toggle="modal"
        data-bs-target="#imagenModal"
      />
    </div>
  </div>
  <!-- Botones -->
  <div class="row ms-1 mt-3 mb-3 justify-content-around">
    <DIV class="col"
      ><button type="submit" class=" btn btn-success">CREAR PRODUCTO</button></DIV
    >
    <DIV class="col"
      ><button routerLink="/gestion" class="btn btn-primary">
        VOLVER
      </button></DIV
    >
  </div>
</form>

<!-- Modal Agregar Imagen al producto-->
<div class="modal fade" id="imagenModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Insertar Imagen</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <section>
                    <input type="file" accept="images/" (change)="onSelectFile($event)">
                </section>
                <section *ngIf="imageUrl">
                    <angular-cropper [imageUrl]="imageUrl" #angularCropper></angular-cropper>
                    <!-- <div class="mt-2">
                        <button class="btn btn-primary" (click)="getCroppedImage()">Recortar</button>
                    </div> -->
                </section>
                <section class="my-4">
                    <label for="" class="mx-2">Tamaño</label>
                    <select type="text" [(ngModel)]="anchoImagen">
                        <option value="100">Ancho 100%</option>
                        <option value="75">Ancho 75%</option>
                        <option value="50">Ancho 50%</option>
                        <option value="35">Ancho 35%</option>
                    </select>
                </section>
                <!--  <section *ngIf="croppedresult">
                    <img id="imagen-recortada" class="img-redimensionada" [src]="croppedresult" alt="...">
                  </section> -->


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button class="btn btn-primary" (click)="getCroppedImage()" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>