<form [formGroup]="formularioProducto" (ngSubmit)="submitProducto()" class="m-3">
  <div class="form-row">
    <div class="form-group col-md-6 m-1">
      <label for="nombreProducto">Nombre</label>
      <input type="text"  class="form-control"  id="nombreProducto" formControlName="nombreProducto">
      <div *ngIf="formularioProducto.invalid && submit">
        <small *ngIf="formularioProducto.controls['nombreProducto'].errors?.['required']" class="text-danger">
          El campo Nombre es requerido
        </small>
      </div>
      <div *ngIf="formularioProducto.invalid && (formularioProducto.dirty || formularioProducto.touched)">
        <small *ngIf="formularioProducto.controls['nombreProducto'].hasError('maxlength')" class="text-danger">
          El campo Nombre no puede tener más de 50 caracteres
        </small>
      </div>
    </div>
    <div class="form-group col-md-6 m-1">
      <label for="descripcionCorta">Descripcion Corta</label>
      <input type="text" class="form-control" id="descripcionCorta" formControlName="descripcionCorta">
      <div *ngIf="formularioProducto.invalid && submit">

        <small *ngIf="formularioProducto.controls['descripcionCorta'].errors?.['required']" class="text-danger">
          El campo descripción es requerido
        </small>
      </div>
        <div *ngIf="formularioProducto.invalid && (formularioProducto.dirty || formularioProducto.touched)">
        <small *ngIf="formularioProducto.controls['descripcionCorta'].hasError('maxlength')" class="text-danger">
          El campo descripción no puede tener más de 50 caracteres
        </small>
      </div>
    </div>
  </div>
  <div class="form-group m-1">
    <label for="descripcionLarga">Descripcion Larga</label>
    <input type="text" class="form-control" id="descripcionLarga" formControlName="descripcionLarga">
    
    <div *ngIf="formularioProducto.invalid && submit">
      <small *ngIf="formularioProducto.controls['descripcionLarga'].errors?.['required']" class="text-danger">
        El campo descripción larga es requerido
      </small>
    </div>
      <div *ngIf="formularioProducto.invalid && (formularioProducto.dirty || formularioProducto.touched)">
      <small *ngIf="formularioProducto.controls['descripcionLarga'].hasError('maxlength')" class="text-danger">
        El campo descripción larga no puede tener más de 100 caracteres
      </small>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6 m-1">
      <label for="precio">Precio</label>
      <input type="number"  class="form-control" id="precio" formControlName="precio">
      <div *ngIf="formularioProducto.invalid && submit">
        <small *ngIf="formularioProducto.controls['precio'].errors?.['required']" class="text-danger">
          El campo precio es requerido
        </small>
        <div *ngIf="formularioProducto.invalid && (formularioProducto.dirty || formularioProducto.touched)">
          <small *ngIf="formularioProducto.controls['precio'].hasError('min')" class="text-danger">
            El precio no puede ser negativo
          </small>
        </div>
      </div>
    </div>
    <div class="form-group col-md-4 m-1">
      <label for="seccion">Sección</label>
        <select name="inputSeccion" id="inputSeccion" class="form-control" formControlName="seccion">
          <option value="" disabled selected>Selecciona una sección...</option>
        <option *ngFor="let seccion of secciones" [value]="seccion.url">{{seccion.nombreSeccion}}</option>
      </select>
      <div *ngIf="formularioProducto.invalid && submit">
        <small *ngIf="formularioProducto.controls['seccion'].errors?.['required']" class="text-danger">
          Debe seleccionar una sección
        </small>
      </div>
    </div>
  </div>
  <!-- Imagen -->
  <div class="col-md-4">
    <div *ngIf="nuevoProducto.url" class="card-image">
      <img
        src="{{nuevoProducto.url}}"
        class="img-card img-fluid"
        alt=""
        data-bs-toggle="modal"
        data-bs-target="#imagenModal"
      />
    </div>
    <div *ngIf="!nuevoProducto.url" class="card-image">
      <img
        src="../../../../assets/no-imagen.png"
        class="img-card img-fluid w-100 my-2"
        alt=""
        data-bs-toggle="modal"
        data-bs-target="#imagenModal"
      />
    </div>
  </div>
  <!-- Botones -->
  <div class="row ms-1 mt-3 mb-3 justify-content-around">
    <DIV class="col"
      ><button type="submit" class=" btn btn-success">CREAR PRODUCTO</button></DIV
    >
    <DIV class="col"
      ><button routerLink="/gestion" class="btn btn-primary">
        VOLVER
      </button></DIV
    >
  </div>
</form>

<!-- Modal Agregar Imagen al producto-->
<div class="modal fade" id="imagenModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Insertar Imagen</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <section>
                    <input type="file" accept="images/" (change)="onSelectFile($event)">
                </section>
                <section *ngIf="imageUrl">
                    <angular-cropper [imageUrl]="imageUrl" #angularCropper></angular-cropper>
                    <!-- <div class="mt-2">
                        <button class="btn btn-primary" (click)="getCroppedImage()">Recortar</button>
                    </div> -->
                </section>
                <section class="my-4">
                    <label for="" class="mx-2">Tamaño</label>
                    <select type="text" [(ngModel)]="anchoImagen">
                        <option value="100">Ancho 100%</option>
                        <option value="75">Ancho 75%</option>
                        <option value="50">Ancho 50%</option>
                        <option value="35">Ancho 35%</option>
                    </select>
                </section>
                <!--  <section *ngIf="croppedresult">
                    <img id="imagen-recortada" class="img-redimensionada" [src]="croppedresult" alt="...">
                  </section> -->


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button class="btn btn-primary" (click)="getCroppedImage()" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>