

<div class="card text-center mb-3 h-100" >
    <img [src]="product.url" class="card-img-top img-fluid" alt="">
    <div class="card-body">
      <h5 class="card-title"> {{product.nombreProducto}}</h5>
      <p class="card-text">{{product.descripcionCorta}}</p>
      <p class="card-text">{{product.precio}} €</p>
      <button *ngIf="!product.vendedorExterno" href="#" class="btn btn-outline-success" (click)="addToCart()">
       <i class="fas fa-cart-plus"></i> Añadir a la cesta</button>
    </div>
  </div>

